### This notebook links airports dataset with runways dataset

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [ ]:
# Read in airports dataset
airportC = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/airports_cleaned.csv')
airportC = airportC.drop(['ICAO_ID'], axis=1)
airportC

In [6]:
# Read in runways dataset
runwayC = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/runways_cleaned.csv')
runwayC

       Unnamed: 0 DESIGNATOR  RUNWAY.LATITUDE  RUNWAY.LONGITUDE IDENT ICAO_ID
0               0      05/23      -176.645456         51.882484   ADK    PADK
1               1      04/22      -154.181625         56.938950   AKK    PAKH
2               2      01/19      -161.492556         60.914625   Z13    PFZK
3               3        E/W        -0.199980         -0.000081   KKI     NaN
4               4      NW/SE        -0.199980         -0.000081   KKI     NaN
...           ...        ...              ...               ...   ...     ...
24031       24031    176/356       -99.265570         34.676719   LTS    KLTS
24032       24032    18L/36R       -99.259598         34.667652   LTS    KLTS
24033       24033    18R/36L       -99.273881         34.660327   LTS    KLTS
24034       24034      01/19       -84.946625         36.350671   2A1     NaN
24035       24035      15/33       -91.720231         41.757082  IA24     NaN

[24036 rows x 6 columns]

In [7]:
# Merge datasets on IDENT
airports_runways = pd.merge(runwayC, airportC, on='IDENT', how='left')
airports_runways

,Unnamed: 0,DESIGNATOR,RUNWAY.LATITUDE,RUNWAY.LONGITUDE,IDENT,ICAO_ID,NAME,LATITUDE,LONGITUDE
0,0,05/23,-176.645456,51.882484,ADK,PADK,Adak,51.883583,-176.642482
1,1,04/22,-154.181625,56.938950,AKK,PAKH,Akhiok,56.938691,-154.182556
2,2,01/19,-161.492556,60.914625,Z13,PFZK,Akiachak,60.913810,-161.493329
3,3,E/W,-0.199980,-0.000081,KKI,NaN,Akiachak,60.907865,-161.435077
4,4,NW/SE,-0.199980,-0.000081,KKI,NaN,Akiachak,60.907865,-161.435077
...,...,...,...,...,...,...,...,...,...
24031,24031,176/356,-99.265570,34.676719,LTS,KLTS,Altus AFB,34.667975,-99.267750
24032,24032,18L/36R,-99.259598,34.667652,LTS,KLTS,Altus AFB,34.667975,-99.267750
24033,24033,18R/36L,-99.273881,34.660327,LTS,KLTS,Altus AFB,34.667975,-99.267750
24034,24034,01/19,-84.946625,36.350671,2A1,NaN,Jamestown Muni,36.349694,-84.946639
24035,24035,15/33,-91.720231,41.757082,IA24,NaN,Green Castle,41.755011,-91.727674

In [8]:
# Export to csv file
airports_runways.to_csv('Airports&Runways.csv', index = False)