## This notebook explores 31 records that were kicked back from Lex's R code. 
### The output of this notebook is:
#### 1. 18 + 2 Lat/Long calculated for FAA Airport Identifier
#### 2. 6 Lat/Long calculated for NAVAID
#### 3. 1 Lat/Long calculated for ICAO_ID
#### 4. 4 Records (back to Lex)

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import geopy
from geopy.distance import geodesic

In [2]:
# Read in csv file
nonstd = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/Olga - All_Points_Non-Standard_31OUTOF39 -- MANUAL.csv')
nonstd

,IDENT,REMARKS,UASLOCATION,DATASET,dateonly,timeonly,DATE,CALLSIGN,POD,PRIMARYCODE,...,ACLOCATION.CEDAR,ACALTITUDE.CEDAR,ACHEADING.CEDAR,RELATIVECLOCKPOSITION.CEDAR,UASLONG.CEDAR,UASLAT.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR,RWYLOCATION,cityname
0,NCT,"Reported observing a uas 1,000 to 2,000 feet b...",18 NM SE of SFO,NAVAID,1/28/2018,21:30,2018-01-28T21:30Z,UAL400,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZKC,Reported sighting a red rotor-craft uas operat...,8 NM N of K6M6,AIRPORT,6/8/2018,21:30,2018-06-08T21:30Z,N86GE,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZKC,"PIC reported a uas at 5,500 feet 8 NM NE of 6M...",8 NM NE of K6M6,AIRPORT,6/8/2018,22:44,2018-06-08T22:44Z,N86GE,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SCT,"Reported observing a yellow, remote controlled...",1 NM E of PAO,AIRPORT,6/19/2018,8:22,2018-06-19T08:22Z,N384ME,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SW1,"Reported a uas while heading S bound at 10,000...",5 NM S of 2ND0,AIRPORT,6/20/2018,6:38,2018-06-20T06:38Z,N2652X,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,D10,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC,NAVAID,6/23/2018,4:38,2018-06-23T04:38Z,N53103,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ZLA,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC,NAVAID,7/5/2018,23:20,2018-07-05T23:20Z,AA112,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,SCT,Reported observing a red and black Quad-Copter...,15 NM NE of LAX,NAVAID,7/17/2018,8:36,2018-07-17T08:36Z,AAL192,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ZBW,Reported observing a small red and orange uas ...,20 NM E of 46N,AIRPORT,7/23/2018,0:05,2018-07-23T00:05Z,N64AF,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,I90,Reported a black uas 10 feet below and off the...,1 NM W of KTME,AIRPORT,7/27/2018,23:44,2018-07-27T23:44Z,N69NG,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,I90,Pilot reported a large uas off right side 30 f...,17 NM WNW of HOU,AIRPORT,9/1/2018,4:43,2018-09-01T04:43Z,N541RB,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,WOC,Pilot reported a dark color quadcopter uas ope...,65 NM N of TWF,NAVAID,9/11/2018,23:50,2018-09-11T23:50Z,N38HX,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,C90,Pilot reported a black quadcopter uas 500 feet...,10 NM S of UGN,AIRPORT,9/12/2018,2:05,2018-09-12T02:05Z,N350AL,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ZNY,"Pilot reported a uas at 9 O'clock position, 40...",1 NM NE of LGA,AIRPORT,9/12/2018,6:02,2018-09-12T06:02Z,EDV5160,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,D10,Reported observing a brown DJU model uas off o...,15 NM N of DFW,AIRPORT,9/16/2018,5:48,2018-09-16T05:48Z,N1962J,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Y90,Pilot reported a uas in the 3 O'clock position...,7 NM W of K0W3,AIRPORT,9/23/2018,23:06,2018-09-23T23:06Z,N537A,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NCT,PIC reported a uas at same altitude while E bo...,15 NM NE of OAK,AIRPORT,10/4/2018,4:05,2018-10-04T04:05Z,UAL727,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,F11,Aircraft reporteda brightly colored quad copte...,1.5 NM SW of RSW,AIRPORT,10/8/2018,2:58,2018-10-08T02:58Z,JBU165,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NCT,Pilot reported a red and white uas at 10 o'clo...,10 NM W of SNS,AIRPORT,10/27/2018,1:24,2018-10-27T01:24Z,BAYJUMP1,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,F11,PIC reported a green cone-shaped uas from the ...,6 NM ENE of ORL,AIRPORT,2/3/2019,3:23,2019-02-03T03:23Z,FFT1158,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,WOC,PIC observed a uas between .5-1 NM off their r...,3 NM ESE of SJC,NAVAID,2/10/2019,2:49,2019-02-10T02:49Z,SWA5882,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,I90,Reported observing a uas off of the 7 o'clock ...,4 NM NE of SGR,AIRPORT,3/6/2019,4:01,2019-03-06T04:01Z,N66RC,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ZFW,Reported observing a red uas pass 50 feet off ...,5 NM N of F44,AIRPORT,4/1/2019,6:23,2019-04-01T06:23Z,N8574M,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,N90,PIC reported a black 4 foot wide uas while orb...,8 NM S of ISP,AIRPORT,4/7/2019,2:13,2019-04-07T02:13Z,N383C,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,ZJX,"PIC reported a white uas while SSW bound at 2,...",5 NM NNE of VAD,AIRPORT,5/11/2019,0:00,2019-05-11T00:00Z,N239ST,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ZAU,"Reported a white uas passed 300 ft. away at 3,...",4 NM S of MDW,AIRPORT,5/17/2019,5:48,2019-05-17T05:48Z,UJC331,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,C90,PIC reported a grey and green quad copter uas ...,3 NM S of DPA,AIRPORT,5/22/2019,7:19,2019-05-22T07:19Z,SKW2955,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NCT,PIC reported a black uas on their left side wh...,17 NM NNE of SJC,NAVAID,5/30/2019,7:23,2019-05-30T07:23Z,SWA1446,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,S46,Reported observing a red uas within 300 feet w...,7 NM S of PAE,AIRPORT,6/16/2019,9:39,2019-06-16T09:39Z,N6342X,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,SW1,USAF Academy ATCT reports person on the ground...,1.5 NM W of AFF,AIRPORT,6/25/2019,22:15,2019-06-25T22:15Z,NaN,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,USSS notified NCRCC a uas had been detected at...,2.5 NM NW of BAL,NAVAID,8/26/2020,0:15,2020-08-26T00:15Z,NaN,NCRCC,NORAD-COORDINATION,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Find all records that are labeled as AIRPORT
nonstd_air = nonstd[(nonstd['DATASET'] == 'AIRPORT')]
nonstd_air

,IDENT,REMARKS,UASLOCATION,DATASET,dateonly,timeonly,DATE,CALLSIGN,POD,PRIMARYCODE,...,ACLOCATION.CEDAR,ACALTITUDE.CEDAR,ACHEADING.CEDAR,RELATIVECLOCKPOSITION.CEDAR,UASLONG.CEDAR,UASLAT.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR,RWYLOCATION,cityname
1,ZKC,Reported sighting a red rotor-craft uas operat...,8 NM N of K6M6,AIRPORT,6/8/2018,21:30,2018-06-08T21:30Z,N86GE,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZKC,"PIC reported a uas at 5,500 feet 8 NM NE of 6M...",8 NM NE of K6M6,AIRPORT,6/8/2018,22:44,2018-06-08T22:44Z,N86GE,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SCT,"Reported observing a yellow, remote controlled...",1 NM E of PAO,AIRPORT,6/19/2018,8:22,2018-06-19T08:22Z,N384ME,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SW1,"Reported a uas while heading S bound at 10,000...",5 NM S of 2ND0,AIRPORT,6/20/2018,6:38,2018-06-20T06:38Z,N2652X,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ZBW,Reported observing a small red and orange uas ...,20 NM E of 46N,AIRPORT,7/23/2018,0:05,2018-07-23T00:05Z,N64AF,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,I90,Reported a black uas 10 feet below and off the...,1 NM W of KTME,AIRPORT,7/27/2018,23:44,2018-07-27T23:44Z,N69NG,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,I90,Pilot reported a large uas off right side 30 f...,17 NM WNW of HOU,AIRPORT,9/1/2018,4:43,2018-09-01T04:43Z,N541RB,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,C90,Pilot reported a black quadcopter uas 500 feet...,10 NM S of UGN,AIRPORT,9/12/2018,2:05,2018-09-12T02:05Z,N350AL,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ZNY,"Pilot reported a uas at 9 O'clock position, 40...",1 NM NE of LGA,AIRPORT,9/12/2018,6:02,2018-09-12T06:02Z,EDV5160,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,D10,Reported observing a brown DJU model uas off o...,15 NM N of DFW,AIRPORT,9/16/2018,5:48,2018-09-16T05:48Z,N1962J,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Y90,Pilot reported a uas in the 3 O'clock position...,7 NM W of K0W3,AIRPORT,9/23/2018,23:06,2018-09-23T23:06Z,N537A,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NCT,PIC reported a uas at same altitude while E bo...,15 NM NE of OAK,AIRPORT,10/4/2018,4:05,2018-10-04T04:05Z,UAL727,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,F11,Aircraft reporteda brightly colored quad copte...,1.5 NM SW of RSW,AIRPORT,10/8/2018,2:58,2018-10-08T02:58Z,JBU165,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NCT,Pilot reported a red and white uas at 10 o'clo...,10 NM W of SNS,AIRPORT,10/27/2018,1:24,2018-10-27T01:24Z,BAYJUMP1,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,F11,PIC reported a green cone-shaped uas from the ...,6 NM ENE of ORL,AIRPORT,2/3/2019,3:23,2019-02-03T03:23Z,FFT1158,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,I90,Reported observing a uas off of the 7 o'clock ...,4 NM NE of SGR,AIRPORT,3/6/2019,4:01,2019-03-06T04:01Z,N66RC,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ZFW,Reported observing a red uas pass 50 feet off ...,5 NM N of F44,AIRPORT,4/1/2019,6:23,2019-04-01T06:23Z,N8574M,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,N90,PIC reported a black 4 foot wide uas while orb...,8 NM S of ISP,AIRPORT,4/7/2019,2:13,2019-04-07T02:13Z,N383C,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,ZJX,"PIC reported a white uas while SSW bound at 2,...",5 NM NNE of VAD,AIRPORT,5/11/2019,0:00,2019-05-11T00:00Z,N239ST,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ZAU,"Reported a white uas passed 300 ft. away at 3,...",4 NM S of MDW,AIRPORT,5/17/2019,5:48,2019-05-17T05:48Z,UJC331,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,C90,PIC reported a grey and green quad copter uas ...,3 NM S of DPA,AIRPORT,5/22/2019,7:19,2019-05-22T07:19Z,SKW2955,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,S46,Reported observing a red uas within 300 feet w...,7 NM S of PAE,AIRPORT,6/16/2019,9:39,2019-06-16T09:39Z,N6342X,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,SW1,USAF Academy ATCT reports person on the ground...,1.5 NM W of AFF,AIRPORT,6/25/2019,22:15,2019-06-25T22:15Z,NaN,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Extract all IDENTs
uas_loc = nonstd_air['UASLOCATION'].tolist()
uas_airport = []

for i in range(len(uas_loc)):
    airport = uas_loc[i].split(' ')[-1]
    
    if len(airport) <= 4:
        uas_airport.append(airport)
    else:
        trim_air = airport[-3:]
        uas_airport.append(trim_air)
        
uas_airport_df = pd.DataFrame()
uas_airport_df['IDENT'] = uas_airport
uas_airport_df

   IDENT
0   K6M6
1   K6M6
2    PAO
3   2ND0
4    46N
5   KTME
6    HOU
7    UGN
8    LGA
9    DFW
10  K0W3
11   OAK
12   RSW
13   SNS
14   ORL
15   SGR
16   F44
17   ISP
18   VAD
19   MDW
20   DPA
21   PAE
22   AFF

In [5]:
# Read in airports dataset
airports = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/airports_cleaned.csv')

In [6]:
# Merge dataframe with airports dataset
uas_air_loc1= pd.merge(uas_airport_df, airports, on='IDENT', how='left')
uas_air_loc1

   IDENT                          NAME   LATITUDE   LONGITUDE ICAO_ID
0   K6M6                           NaN        NaN         NaN     NaN
1   K6M6                           NaN        NaN         NaN     NaN
2    PAO                     Palo Alto  37.461111 -122.115056    KPAO
3   2ND0                         Kraft  46.814414  -97.049810     NaN
4    46N                           NaN        NaN         NaN     NaN
5   KTME                           NaN        NaN         NaN     NaN
6    HOU               William P Hobby  29.645417  -95.278889    KHOU
7    UGN                  Waukegan Ntl  42.422149  -87.867916    KUGN
8    LGA                     Laguardia  40.777250  -73.872611    KLGA
9    DFW        Dallas-Fort Worth Intl  32.897233  -97.037695    KDFW
10  K0W3                           NaN        NaN         NaN     NaN
11   OAK            Metro Oakland Intl  37.721250 -122.221139    KOAK
12   RSW        Southwest Florida Intl  26.536167  -81.755167    KRSW
13   SNS                  Salinas Muni  36.662787 -121.606366    KSNS
14   ORL                          Exec  28.545462  -81.332930    KORL
15   SGR               Sugar Land Rgnl  29.622249  -95.656534    KSGR
16   F44                   Athens Muni  32.163848  -95.828353     NaN
17   ISP        Long Island Mac Arthur  40.796136  -73.100665    KISP
18   VAD                     Moody AFB  30.968700  -83.192964    KVAD
19   MDW           Chicago Midway Intl  41.785972  -87.752417    KMDW
20   DPA                        Dupage  41.907053  -88.247995    KDPA
21   PAE  Snohomish County (Paine Fld)  47.907317 -122.282094    KPAE
22   AFF             USAF Academy AFld  38.973391 -104.820033    KAFF

In [7]:
# Append needed columns
add_col = nonstd_air['REMARKS'].tolist()
uas_air_loc1['REMARKS'] = add_col
add_col1 = nonstd_air['UASLOCATION'].tolist()
uas_air_loc1['UASLOCATION'] = add_col1
uas_air_loc1

,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID,REMARKS,UASLOCATION
0,K6M6,NaN,NaN,NaN,NaN,Reported sighting a red rotor-craft uas operat...,8 NM N of K6M6
1,K6M6,NaN,NaN,NaN,NaN,"PIC reported a uas at 5,500 feet 8 NM NE of 6M...",8 NM NE of K6M6
2,PAO,Palo Alto,37.461111,-122.115056,KPAO,"Reported observing a yellow, remote controlled...",1 NM E of PAO
3,2ND0,Kraft,46.814414,-97.049810,NaN,"Reported a uas while heading S bound at 10,000...",5 NM S of 2ND0
4,46N,NaN,NaN,NaN,NaN,Reported observing a small red and orange uas ...,20 NM E of 46N
5,KTME,NaN,NaN,NaN,NaN,Reported a black uas 10 feet below and off the...,1 NM W of KTME
6,HOU,William P Hobby,29.645417,-95.278889,KHOU,Pilot reported a large uas off right side 30 f...,17 NM WNW of HOU
7,UGN,Waukegan Ntl,42.422149,-87.867916,KUGN,Pilot reported a black quadcopter uas 500 feet...,10 NM S of UGN
8,LGA,Laguardia,40.777250,-73.872611,KLGA,"Pilot reported a uas at 9 O'clock position, 40...",1 NM NE of LGA
9,DFW,Dallas-Fort Worth Intl,32.897233,-97.037695,KDFW,Reported observing a brown DJU model uas off o...,15 NM N of DFW
10,K0W3,NaN,NaN,NaN,NaN,Pilot reported a uas in the 3 O'clock position...,7 NM W of K0W3
11,OAK,Metro Oakland Intl,37.721250,-122.221139,KOAK,PIC reported a uas at same altitude while E bo...,15 NM NE of OAK
12,RSW,Southwest Florida Intl,26.536167,-81.755167,KRSW,Aircraft reporteda brightly colored quad copte...,1.5 NM SW of RSW
13,SNS,Salinas Muni,36.662787,-121.606366,KSNS,Pilot reported a red and white uas at 10 o'clo...,10 NM W of SNS
14,ORL,Exec,28.545462,-81.332930,KORL,PIC reported a green cone-shaped uas from the ...,6 NM ENE of ORL
15,SGR,Sugar Land Rgnl,29.622249,-95.656534,KSGR,Reported observing a uas off of the 7 o'clock ...,4 NM NE of SGR
16,F44,Athens Muni,32.163848,-95.828353,NaN,Reported observing a red uas pass 50 feet off ...,5 NM N of F44
17,ISP,Long Island Mac Arthur,40.796136,-73.100665,KISP,PIC reported a black 4 foot wide uas while orb...,8 NM S of ISP
18,VAD,Moody AFB,30.968700,-83.192964,KVAD,"PIC reported a white uas while SSW bound at 2,...",5 NM NNE of VAD
19,MDW,Chicago Midway Intl,41.785972,-87.752417,KMDW,"Reported a white uas passed 300 ft. away at 3,...",4 NM S of MDW
20,DPA,Dupage,41.907053,-88.247995,KDPA,PIC reported a grey and green quad copter uas ...,3 NM S of DPA
21,PAE,Snohomish County (Paine Fld),47.907317,-122.282094,KPAE,Reported observing a red uas within 300 feet w...,7 NM S of PAE
22,AFF,USAF Academy AFld,38.973391,-104.820033,KAFF,USAF Academy ATCT reports person on the ground...,1.5 NM W of AFF

In [8]:
# Check for matching records
uas_air_loc = uas_air_loc1[uas_air_loc1['LATITUDE'].notnull()]
uas_air_loc

,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID,REMARKS,UASLOCATION
2,PAO,Palo Alto,37.461111,-122.115056,KPAO,"Reported observing a yellow, remote controlled...",1 NM E of PAO
3,2ND0,Kraft,46.814414,-97.049810,NaN,"Reported a uas while heading S bound at 10,000...",5 NM S of 2ND0
6,HOU,William P Hobby,29.645417,-95.278889,KHOU,Pilot reported a large uas off right side 30 f...,17 NM WNW of HOU
7,UGN,Waukegan Ntl,42.422149,-87.867916,KUGN,Pilot reported a black quadcopter uas 500 feet...,10 NM S of UGN
8,LGA,Laguardia,40.777250,-73.872611,KLGA,"Pilot reported a uas at 9 O'clock position, 40...",1 NM NE of LGA
9,DFW,Dallas-Fort Worth Intl,32.897233,-97.037695,KDFW,Reported observing a brown DJU model uas off o...,15 NM N of DFW
11,OAK,Metro Oakland Intl,37.721250,-122.221139,KOAK,PIC reported a uas at same altitude while E bo...,15 NM NE of OAK
12,RSW,Southwest Florida Intl,26.536167,-81.755167,KRSW,Aircraft reporteda brightly colored quad copte...,1.5 NM SW of RSW
13,SNS,Salinas Muni,36.662787,-121.606366,KSNS,Pilot reported a red and white uas at 10 o'clo...,10 NM W of SNS
14,ORL,Exec,28.545462,-81.332930,KORL,PIC reported a green cone-shaped uas from the ...,6 NM ENE of ORL
15,SGR,Sugar Land Rgnl,29.622249,-95.656534,KSGR,Reported observing a uas off of the 7 o'clock ...,4 NM NE of SGR
16,F44,Athens Muni,32.163848,-95.828353,NaN,Reported observing a red uas pass 50 feet off ...,5 NM N of F44
17,ISP,Long Island Mac Arthur,40.796136,-73.100665,KISP,PIC reported a black 4 foot wide uas while orb...,8 NM S of ISP
18,VAD,Moody AFB,30.968700,-83.192964,KVAD,"PIC reported a white uas while SSW bound at 2,...",5 NM NNE of VAD
19,MDW,Chicago Midway Intl,41.785972,-87.752417,KMDW,"Reported a white uas passed 300 ft. away at 3,...",4 NM S of MDW
20,DPA,Dupage,41.907053,-88.247995,KDPA,PIC reported a grey and green quad copter uas ...,3 NM S of DPA
21,PAE,Snohomish County (Paine Fld),47.907317,-122.282094,KPAE,Reported observing a red uas within 300 feet w...,7 NM S of PAE
22,AFF,USAF Academy AFld,38.973391,-104.820033,KAFF,USAF Academy ATCT reports person on the ground...,1.5 NM W of AFF

In [9]:
uas_air_loc.to_csv('Non-std-18.csv', index = False)

uas_air_loc = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/Non-std-18.csv')

In [10]:
#Create Dictionary of Bearings and Respective Degrees
bearing_deg = {
    'N' : 0,
    'NNE' : 23,
    'NE' : 45,
    'ENE' : 68,
    'E' : 90,
    'ESE' : 113,
    'SE' : 135,
    'SSE' : 158,
    'S' : 180,
    'SSW' : 203,
    'SW' : 225,
    'WSW' : 248,
    'W' : 270,
    'WNW' : 293,
    'NW' : 315,
    'NNW' : 338
}

# Separate distances and bearing into two columns
uas_loc = uas_air_loc['UASLOCATION']
distances = []
bearings = []

for i in range(len(uas_loc)):
    split = uas_loc[i].split(' ')[0:3]
    
    if 'NM' in split[0]: #if there is no space between the distance and NM (i.e. 3NM)
        distance_nm = split[0][0:len(split[0]) - 2]
        bearing_abrev = split[1].replace('of', '')
        
    else: 
        distance_nm = split[0]
        bearing_abrev = split[2].replace('of', '')
    
    distances.append(distance_nm[0:])
    bearings.append(bearing_abrev)

# Create DataFrame to store UAS Location Information
new_df = pd.DataFrame(uas_air_loc['REMARKS'])
new_df['UAS_LOC'] = uas_air_loc['UASLOCATION']
new_df['IDENT'] = uas_air_loc['IDENT']
new_df['Distance'] = distances
new_df['Bearing'] = bearings

new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing
0,"Reported observing a yellow, remote controlled...",1 NM E of PAO,PAO,1,E
1,"Reported a uas while heading S bound at 10,000...",5 NM S of 2ND0,2ND0,5,S
2,Pilot reported a large uas off right side 30 f...,17 NM WNW of HOU,HOU,17,WNW
3,Pilot reported a black quadcopter uas 500 feet...,10 NM S of UGN,UGN,10,S
4,"Pilot reported a uas at 9 O'clock position, 40...",1 NM NE of LGA,LGA,1,NE
5,Reported observing a brown DJU model uas off o...,15 NM N of DFW,DFW,15,N
6,PIC reported a uas at same altitude while E bo...,15 NM NE of OAK,OAK,15,NE
7,Aircraft reporteda brightly colored quad copte...,1.5 NM SW of RSW,RSW,1.5,SW
8,Pilot reported a red and white uas at 10 o'clo...,10 NM W of SNS,SNS,10,W
9,PIC reported a green cone-shaped uas from the ...,6 NM ENE of ORL,ORL,6,ENE
10,Reported observing a uas off of the 7 o'clock ...,4 NM NE of SGR,SGR,4,NE
11,Reported observing a red uas pass 50 feet off ...,5 NM N of F44,F44,5,N
12,PIC reported a black 4 foot wide uas while orb...,8 NM S of ISP,ISP,8,S
13,"PIC reported a white uas while SSW bound at 2,...",5 NM NNE of VAD,VAD,5,NNE
14,"Reported a white uas passed 300 ft. away at 3,...",4 NM S of MDW,MDW,4,S
15,PIC reported a grey and green quad copter uas ...,3 NM S of DPA,DPA,3,S
16,Reported observing a red uas within 300 feet w...,7 NM S of PAE,PAE,7,S
17,USAF Academy ATCT reports person on the ground...,1.5 NM W of AFF,AFF,1.5,W

In [11]:
# Convert distances from NM to KM and bearings to degrees
new_df['Distance'] = pd.to_numeric(new_df['Distance'],errors = 'coerce')
dist_kilo = []

for i in range(len(new_df)):
    distanceKilo = new_df['Distance'][i] * 1.852 # converting NM to kilometers
    dist_kilo.append(distanceKilo)

bearDegree = pd.DataFrame(new_df['Bearing'])
bearDegree = bearDegree.replace({'Bearing': bearing_deg})

new_df['Distance_Kilometers'] = dist_kilo
new_df['Bearing_Degrees'] = bearDegree
new_df['Airport_Latitude'] = uas_air_loc['LATITUDE']
new_df['Airport_Longitude'] = uas_air_loc['LONGITUDE']
new_df

new_df2 = pd.merge(new_df, airports, on='IDENT', how='left')
new_df2 = new_df2.drop(['Airport_Latitude', 'Airport_Longitude'], 1)
new_df2 = new_df2.rename({'LONGITUDE': 'Airport_Longitude', 'LATITUDE': 'Airport_Latitude'}, axis=1)
new_df2

,REMARKS,UAS_LOC,IDENT,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID
0,"Reported observing a yellow, remote controlled...",1 NM E of PAO,PAO,1.0,E,1.852,90,Palo Alto,37.461111,-122.115056,KPAO
1,"Reported a uas while heading S bound at 10,000...",5 NM S of 2ND0,2ND0,5.0,S,9.260,180,Kraft,46.814414,-97.049810,NaN
2,Pilot reported a large uas off right side 30 f...,17 NM WNW of HOU,HOU,17.0,WNW,31.484,293,William P Hobby,29.645417,-95.278889,KHOU
3,Pilot reported a black quadcopter uas 500 feet...,10 NM S of UGN,UGN,10.0,S,18.520,180,Waukegan Ntl,42.422149,-87.867916,KUGN
4,"Pilot reported a uas at 9 O'clock position, 40...",1 NM NE of LGA,LGA,1.0,NE,1.852,45,Laguardia,40.777250,-73.872611,KLGA
5,Reported observing a brown DJU model uas off o...,15 NM N of DFW,DFW,15.0,N,27.780,0,Dallas-Fort Worth Intl,32.897233,-97.037695,KDFW
6,PIC reported a uas at same altitude while E bo...,15 NM NE of OAK,OAK,15.0,NE,27.780,45,Metro Oakland Intl,37.721250,-122.221139,KOAK
7,Aircraft reporteda brightly colored quad copte...,1.5 NM SW of RSW,RSW,1.5,SW,2.778,225,Southwest Florida Intl,26.536167,-81.755167,KRSW
8,Pilot reported a red and white uas at 10 o'clo...,10 NM W of SNS,SNS,10.0,W,18.520,270,Salinas Muni,36.662787,-121.606366,KSNS
9,PIC reported a green cone-shaped uas from the ...,6 NM ENE of ORL,ORL,6.0,ENE,11.112,68,Exec,28.545462,-81.332930,KORL
10,Reported observing a uas off of the 7 o'clock ...,4 NM NE of SGR,SGR,4.0,NE,7.408,45,Sugar Land Rgnl,29.622249,-95.656534,KSGR
11,Reported observing a red uas pass 50 feet off ...,5 NM N of F44,F44,5.0,N,9.260,0,Athens Muni,32.163848,-95.828353,NaN
12,PIC reported a black 4 foot wide uas while orb...,8 NM S of ISP,ISP,8.0,S,14.816,180,Long Island Mac Arthur,40.796136,-73.100665,KISP
13,"PIC reported a white uas while SSW bound at 2,...",5 NM NNE of VAD,VAD,5.0,NNE,9.260,23,Moody AFB,30.968700,-83.192964,KVAD
14,"Reported a white uas passed 300 ft. away at 3,...",4 NM S of MDW,MDW,4.0,S,7.408,180,Chicago Midway Intl,41.785972,-87.752417,KMDW
15,PIC reported a grey and green quad copter uas ...,3 NM S of DPA,DPA,3.0,S,5.556,180,Dupage,41.907053,-88.247995,KDPA
16,Reported observing a red uas within 300 feet w...,7 NM S of PAE,PAE,7.0,S,12.964,180,Snohomish County (Paine Fld),47.907317,-122.282094,KPAE
17,USAF Academy ATCT reports person on the ground...,1.5 NM W of AFF,AFF,1.5,W,2.778,270,USAF Academy AFld,38.973391,-104.820033,KAFF

In [12]:
# Calculate UAS lat/long
uas_lat = []
uas_long = []

for i in range(len(new_df)):
    lat_airport = pd.to_numeric(new_df2['Airport_Latitude'][i])
    long_airport = pd.to_numeric(new_df2['Airport_Longitude'][i])
    b = pd.to_numeric(new_df['Bearing_Degrees'][i])
    d = pd.to_numeric(new_df['Distance_Kilometers'][i])
    
    origin = geopy.Point(lat_airport, long_airport)
    destination = geodesic(kilometers=d).destination(origin,b)
    
    lat2, lon2, = destination.latitude, destination.longitude
    
    uas_lat.append(lat2)
    uas_long.append(lon2)

# Append UAS Lat/Long information to DataFrame
new_df2['UAS_Latitude'] = uas_lat
new_df2['UAS_Longitude'] = uas_long
new_df2

,REMARKS,UAS_LOC,IDENT,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID,UAS_Latitude,UAS_Longitude
0,"Reported observing a yellow, remote controlled...",1 NM E of PAO,PAO,1.0,E,1.852,90,Palo Alto,37.461111,-122.115056,KPAO,37.461109,-122.094122
1,"Reported a uas while heading S bound at 10,000...",5 NM S of 2ND0,2ND0,5.0,S,9.260,180,Kraft,46.814414,-97.049810,NaN,46.731116,-97.049810
2,Pilot reported a large uas off right side 30 f...,17 NM WNW of HOU,HOU,17.0,WNW,31.484,293,William P Hobby,29.645417,-95.278889,KHOU,29.756058,-95.578525
3,Pilot reported a black quadcopter uas 500 feet...,10 NM S of UGN,UGN,10.0,S,18.520,180,Waukegan Ntl,42.422149,-87.867916,KUGN,42.255422,-87.867916
4,"Pilot reported a uas at 9 O'clock position, 40...",1 NM NE of LGA,LGA,1.0,NE,1.852,45,Laguardia,40.777250,-73.872611,KLGA,40.789042,-73.857096
5,Reported observing a brown DJU model uas off o...,15 NM N of DFW,DFW,15.0,N,27.780,0,Dallas-Fort Worth Intl,32.897233,-97.037695,KDFW,33.147718,-97.037695
6,PIC reported a uas at same altitude while E bo...,15 NM NE of OAK,OAK,15.0,NE,27.780,45,Metro Oakland Intl,37.721250,-122.221139,KOAK,37.898018,-121.997801
7,Aircraft reporteda brightly colored quad copte...,1.5 NM SW of RSW,RSW,1.5,SW,2.778,225,Southwest Florida Intl,26.536167,-81.755167,KRSW,26.518436,-81.774874
8,Pilot reported a red and white uas at 10 o'clo...,10 NM W of SNS,SNS,10.0,W,18.520,270,Salinas Muni,36.662787,-121.606366,KSNS,36.662606,-121.813518
9,PIC reported a green cone-shaped uas from the ...,6 NM ENE of ORL,ORL,6.0,ENE,11.112,68,Exec,28.545462,-81.332930,KORL,28.582980,-81.227613
10,Reported observing a uas off of the 7 o'clock ...,4 NM NE of SGR,SGR,4.0,NE,7.408,45,Sugar Land Rgnl,29.622249,-95.656534,KSGR,29.669494,-95.602423
11,Reported observing a red uas pass 50 feet off ...,5 NM N of F44,F44,5.0,N,9.260,0,Athens Muni,32.163848,-95.828353,NaN,32.247354,-95.828353
12,PIC reported a black 4 foot wide uas while orb...,8 NM S of ISP,ISP,8.0,S,14.816,180,Long Island Mac Arthur,40.796136,-73.100665,KISP,40.662717,-73.100665
13,"PIC reported a white uas while SSW bound at 2,...",5 NM NNE of VAD,VAD,5.0,NNE,9.260,23,Moody AFB,30.968700,-83.192964,KVAD,31.045576,-83.155061
14,"Reported a white uas passed 300 ft. away at 3,...",4 NM S of MDW,MDW,4.0,S,7.408,180,Chicago Midway Intl,41.785972,-87.752417,KMDW,41.719275,-87.752417
15,PIC reported a grey and green quad copter uas ...,3 NM S of DPA,DPA,3.0,S,5.556,180,Dupage,41.907053,-88.247995,KDPA,41.857031,-88.247995
16,Reported observing a red uas within 300 feet w...,7 NM S of PAE,PAE,7.0,S,12.964,180,Snohomish County (Paine Fld),47.907317,-122.282094,KPAE,47.790721,-122.282094
17,USAF Academy ATCT reports person on the ground...,1.5 NM W of AFF,AFF,1.5,W,2.778,270,USAF Academy AFld,38.973391,-104.820033,KAFF,38.973387,-104.852089

In [13]:
# Export records to csv file
new_df2 = new_df2.drop(['Distance','Bearing','Distance_Kilometers','Bearing_Degrees','ICAO_ID'], 1)
new_df2 = new_df2.rename({'Airport_Longitude': 'Origin_Longitude', 'Airport_Latitude': 'Origin_Latitude'}, axis=1)
new_df2 = pd.merge(new_df2, nonstd, on='REMARKS', how='left')
new_df2.to_csv('COMPLETED-Non-std-18Airports.csv', index = False)

In [14]:
# Find non matching recrods
check = uas_air_loc1[uas_air_loc1['LATITUDE'].isnull()]
check

,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID,REMARKS,UASLOCATION
0,K6M6,NaN,NaN,NaN,NaN,Reported sighting a red rotor-craft uas operat...,8 NM N of K6M6
1,K6M6,NaN,NaN,NaN,NaN,"PIC reported a uas at 5,500 feet 8 NM NE of 6M...",8 NM NE of K6M6
4,46N,NaN,NaN,NaN,NaN,Reported observing a small red and orange uas ...,20 NM E of 46N
5,KTME,NaN,NaN,NaN,NaN,Reported a black uas 10 feet below and off the...,1 NM W of KTME
10,K0W3,NaN,NaN,NaN,NaN,Pilot reported a uas in the 3 O'clock position...,7 NM W of K0W3

In [15]:
# Merge dataframe with airports on ICAO_ID to see if it references ICAO_ID
uas_air_loc2= pd.merge(check, airports, left_on='IDENT',right_on='ICAO_ID', how='left')
uas_air_loc2

,IDENT_x,NAME_x,LATITUDE_x,LONGITUDE_x,ICAO_ID_x,REMARKS,UASLOCATION,IDENT_y,NAME_y,LATITUDE_y,LONGITUDE_y,ICAO_ID_y
0,K6M6,NaN,NaN,NaN,NaN,Reported sighting a red rotor-craft uas operat...,8 NM N of K6M6,NaN,NaN,NaN,NaN,NaN
1,K6M6,NaN,NaN,NaN,NaN,"PIC reported a uas at 5,500 feet 8 NM NE of 6M...",8 NM NE of K6M6,NaN,NaN,NaN,NaN,NaN
2,46N,NaN,NaN,NaN,NaN,Reported observing a small red and orange uas ...,20 NM E of 46N,NaN,NaN,NaN,NaN,NaN
3,KTME,NaN,NaN,NaN,NaN,Reported a black uas 10 feet below and off the...,1 NM W of KTME,TME,Houston Exec,29.805028,-95.897889,KTME
4,K0W3,NaN,NaN,NaN,NaN,Pilot reported a uas in the 3 O'clock position...,7 NM W of K0W3,NaN,NaN,NaN,NaN,NaN

In [16]:
# Drop and rename columns
uas_air_loc2 = uas_air_loc2.drop(['NAME_x', 'LATITUDE_x', 'LONGITUDE_x', 'ICAO_ID_x'], 1)
uas_air_loc2 = uas_air_loc2.rename({'IDENT_x': 'IDENT','LONGITUDE_y': 'LONGITUDE', 'LATITUDE_y': 'LATITUDE', 'IDENT_y': 'IDENT', 'NAME_y': 'NAME', 'ICAO_ID_y': 'ICAO_ID'}, axis=1)
uas_air_loc2

,IDENT,REMARKS,UASLOCATION,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID
0,K6M6,Reported sighting a red rotor-craft uas operat...,8 NM N of K6M6,NaN,NaN,NaN,NaN,NaN
1,K6M6,"PIC reported a uas at 5,500 feet 8 NM NE of 6M...",8 NM NE of K6M6,NaN,NaN,NaN,NaN,NaN
2,46N,Reported observing a small red and orange uas ...,20 NM E of 46N,NaN,NaN,NaN,NaN,NaN
3,KTME,Reported a black uas 10 feet below and off the...,1 NM W of KTME,TME,Houston Exec,29.805028,-95.897889,KTME
4,K0W3,Pilot reported a uas in the 3 O'clock position...,7 NM W of K0W3,NaN,NaN,NaN,NaN,NaN

In [17]:
# Find records that did not match and export them to csv file and send back to Lex
null = uas_air_loc2[uas_air_loc2['LATITUDE'].isnull()]

null.to_csv('Olga - All_Points_Non-Standard_31OUTOF39 -- MANUAL -- 4NotAiports', index = False)

In [18]:
# Save the remaining record to calculate the UAS lat/long
uas_ICAO = uas_air_loc2[uas_air_loc2['LATITUDE'].notnull()]
uas_ICAO

,IDENT,REMARKS,UASLOCATION,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID
3,KTME,Reported a black uas 10 feet below and off the...,1 NM W of KTME,TME,Houston Exec,29.805028,-95.897889,KTME

In [19]:
uas_ICAO.to_csv('Non-std-1.csv', index = False)

uas_ICAO = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/Non-std-1.csv')

In [20]:
# Extract Distances and Bearings from UASLOCATION column
uas_loc = uas_ICAO['UASLOCATION']
distances = []
bearings = []

for i in range(len(uas_loc)):
    split = uas_loc[i].split(' ')[0:3]
    
    if 'NM' in split[0]: #if there is no space between the distance and NM (i.e. 3NM)
        distance_nm = split[0][0:len(split[0]) - 2]
        bearing_abrev = split[1].replace('of', '')
        
    else: 
        distance_nm = split[0]
        bearing_abrev = split[2].replace('of', '')
    
    distances.append(distance_nm[0:])
    bearings.append(bearing_abrev)

# Create DataFrame to store UAS Location Information
new_df = pd.DataFrame(uas_ICAO['REMARKS'])
new_df['UAS_LOC'] = uas_ICAO['UASLOCATION']
new_df['IDENT'] = uas_ICAO['IDENT']
new_df['Distance'] = distances
new_df['Bearing'] = bearings

new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing
0,Reported a black uas 10 feet below and off the...,1 NM W of KTME,KTME,1,W

In [25]:
# Convert distance to KM and bearings to degrees
new_df['Distance'] = pd.to_numeric(new_df['Distance'],errors = 'coerce')
dist_kilo = []

for i in range(len(new_df)):
    distanceKilo = new_df['Distance'][i] * 1.852 # converting NM to kilometers
    dist_kilo.append(distanceKilo)

bearDegree = pd.DataFrame(new_df['Bearing'])
bearDegree = bearDegree.replace({'Bearing': bearing_deg})

new_df['Distance_Kilometers'] = dist_kilo
new_df['Bearing_Degrees'] = bearDegree
new_df['Airport_Latitude'] = uas_ICAO['LATITUDE']
new_df['Airport_Longitude'] = uas_ICAO['LONGITUDE']
new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,Airport_Latitude,Airport_Longitude
0,Reported a black uas 10 feet below and off the...,1 NM W of KTME,KTME,1,W,1.852,270,29.805028,-95.897889

In [26]:
# Merge, drop and rename columns
new_df2 = pd.merge(new_df, airports, left_on='IDENT', right_on='ICAO_ID', how='left')
new_df2 = new_df2.drop(['Airport_Latitude', 'Airport_Longitude'], 1)
new_df2 = new_df2.rename({'LONGITUDE': 'Airport_Longitude', 'LATITUDE': 'Airport_Latitude'}, axis=1)
new_df2

,REMARKS,UAS_LOC,IDENT_x,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,IDENT_y,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID
0,Reported a black uas 10 feet below and off the...,1 NM W of KTME,KTME,1,W,1.852,270,TME,Houston Exec,29.805028,-95.897889,KTME

In [27]:
# Calculate UAS lat/long
uas_lat = []
uas_long = []

for i in range(len(new_df)):
    lat_airport = pd.to_numeric(new_df2['Airport_Latitude'][i])
    long_airport = pd.to_numeric(new_df2['Airport_Longitude'][i])
    b = pd.to_numeric(new_df['Bearing_Degrees'][i])
    d = pd.to_numeric(new_df['Distance_Kilometers'][i])
    
    origin = geopy.Point(lat_airport, long_airport)
    destination = geodesic(kilometers=d).destination(origin,b)
    
    lat2, lon2, = destination.latitude, destination.longitude
    
    uas_lat.append(lat2)
    uas_long.append(lon2)

# Append UAS Lat/Long information to DataFrame
new_df2['UAS_Latitude'] = uas_lat
new_df2['UAS_Longitude'] = uas_long
new_df2

,REMARKS,UAS_LOC,IDENT_x,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,IDENT_y,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID,UAS_Latitude,UAS_Longitude
0,Reported a black uas 10 feet below and off the...,1 NM W of KTME,KTME,1,W,1.852,270,TME,Houston Exec,29.805028,-95.897889,KTME,29.805026,-95.917046

In [28]:
# Export record to csv file
new_df2 = new_df2.drop(['Distance','Bearing','Distance_Kilometers','Bearing_Degrees','ICAO_ID','IDENT_y'], 1)
new_df2 = new_df2.rename({'Airport_Longitude': 'Origin_Longitude', 'Airport_Latitude': 'Origin_Latitude', 'IDENT_x':'IDENT'}, axis=1)
new_df2 = pd.merge(new_df2, nonstd, on='REMARKS', how='left')
new_df2 = new_df2.drop(['IDENT_y','UASLOCATION','DATASET'], 1)
new_df2 = new_df2.rename({'IDENT_x':'IDENT'}, axis=1)
new_df2.to_csv('COMPLETED-Non-std-1ICAO_ID.csv', index = False)

In [ ]:
################################################################################################################

In [29]:
# Find records that are labeled NAVAID
nonstd_nav = nonstd[(nonstd['DATASET'] == 'NAVAID')]
nonstd_nav

,IDENT,REMARKS,UASLOCATION,DATASET,dateonly,timeonly,DATE,CALLSIGN,POD,PRIMARYCODE,...,ACLOCATION.CEDAR,ACALTITUDE.CEDAR,ACHEADING.CEDAR,RELATIVECLOCKPOSITION.CEDAR,UASLONG.CEDAR,UASLAT.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR,RWYLOCATION,cityname
0,NCT,"Reported observing a uas 1,000 to 2,000 feet b...",18 NM SE of SFO,NAVAID,1/28/2018,21:30,2018-01-28T21:30Z,UAL400,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,D10,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC,NAVAID,6/23/2018,4:38,2018-06-23T04:38Z,N53103,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ZLA,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC,NAVAID,7/5/2018,23:20,2018-07-05T23:20Z,AA112,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,SCT,Reported observing a red and black Quad-Copter...,15 NM NE of LAX,NAVAID,7/17/2018,8:36,2018-07-17T08:36Z,AAL192,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,WOC,Pilot reported a dark color quadcopter uas ope...,65 NM N of TWF,NAVAID,9/11/2018,23:50,2018-09-11T23:50Z,N38HX,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,WOC,PIC observed a uas between .5-1 NM off their r...,3 NM ESE of SJC,NAVAID,2/10/2019,2:49,2019-02-10T02:49Z,SWA5882,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NCT,PIC reported a black uas on their left side wh...,17 NM NNE of SJC,NAVAID,5/30/2019,7:23,2019-05-30T07:23Z,SWA1446,DEN,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,USSS notified NCRCC a uas had been detected at...,2.5 NM NW of BAL,NAVAID,8/26/2020,0:15,2020-08-26T00:15Z,NaN,NCRCC,NORAD-COORDINATION,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Extract IDENTs
uas_loc = nonstd_nav['UASLOCATION'].tolist()
uas_navaid = []

for i in range(len(uas_loc)):
    navaid = uas_loc[i].split(' ')[-1]
    
    if len(airport) <= 4:
        uas_navaid.append(navaid)
    else:
        trim_air = navaid[-3:]
        uas_navaid.append(trim_air)
        
uas_navaid_df = pd.DataFrame()
uas_navaid_df['IDENT'] = uas_navaid
uas_navaid_df

  IDENT
0   SFO
1   LNC
2   CDC
3   LAX
4   TWF
5   SJC
6   SJC
7   BAL

In [32]:
# Read in NAVAID dataset
navaid = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/NAVAID_Cleaned.csv')

In [33]:
# Join NAVAID dataset with dataframe
join_uas_nav1 = pd.merge(uas_navaid_df, navaid, on='IDENT', how='left')
join_uas_nav1

  IDENT   LONGITUDE   LATITUDE       NAME_TXT
0   SFO -122.373907  37.619490  SAN FRANCISCO
1   LNC         NaN        NaN            NaN
2   CDC         NaN        NaN            NaN
3   LAX -118.432019  33.933149    LOS ANGELES
4   TWF -114.489466  42.479863     TWIN FALLS
5   SJC -121.944680  37.374716       SAN JOSE
6   SJC -121.944680  37.374716       SAN JOSE
7   BAL  -76.661258  39.171071      BALTIMORE

In [34]:
# Add needed columns
add_col = nonstd_nav['REMARKS'].tolist()
join_uas_nav1['REMARKS'] = add_col
add_col1 = nonstd_nav['UASLOCATION'].tolist()
join_uas_nav1['UASLOCATION'] = add_col1
join_uas_nav1

,IDENT,LONGITUDE,LATITUDE,NAME_TXT,REMARKS,UASLOCATION
0,SFO,-122.373907,37.619490,SAN FRANCISCO,"Reported observing a uas 1,000 to 2,000 feet b...",18 NM SE of SFO
1,LNC,NaN,NaN,NaN,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC
2,CDC,NaN,NaN,NaN,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC
3,LAX,-118.432019,33.933149,LOS ANGELES,Reported observing a red and black Quad-Copter...,15 NM NE of LAX
4,TWF,-114.489466,42.479863,TWIN FALLS,Pilot reported a dark color quadcopter uas ope...,65 NM N of TWF
5,SJC,-121.944680,37.374716,SAN JOSE,PIC observed a uas between .5-1 NM off their r...,3 NM ESE of SJC
6,SJC,-121.944680,37.374716,SAN JOSE,PIC reported a black uas on their left side wh...,17 NM NNE of SJC
7,BAL,-76.661258,39.171071,BALTIMORE,USSS notified NCRCC a uas had been detected at...,2.5 NM NW of BAL

In [35]:
# Find the actual records that reference NAVAID
join_uas_nav = join_uas_nav1[join_uas_nav1['LONGITUDE'].notnull()]
join_uas_nav

,IDENT,LONGITUDE,LATITUDE,NAME_TXT,REMARKS,UASLOCATION
0,SFO,-122.373907,37.619490,SAN FRANCISCO,"Reported observing a uas 1,000 to 2,000 feet b...",18 NM SE of SFO
3,LAX,-118.432019,33.933149,LOS ANGELES,Reported observing a red and black Quad-Copter...,15 NM NE of LAX
4,TWF,-114.489466,42.479863,TWIN FALLS,Pilot reported a dark color quadcopter uas ope...,65 NM N of TWF
5,SJC,-121.944680,37.374716,SAN JOSE,PIC observed a uas between .5-1 NM off their r...,3 NM ESE of SJC
6,SJC,-121.944680,37.374716,SAN JOSE,PIC reported a black uas on their left side wh...,17 NM NNE of SJC
7,BAL,-76.661258,39.171071,BALTIMORE,USSS notified NCRCC a uas had been detected at...,2.5 NM NW of BAL

In [36]:
join_uas_nav.to_csv('Non-std-6nav.csv', index = False)

join_uas_nav = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/Non-std-6nav.csv')

In [37]:
# Separate distances and bearings into two columns
uas_loc = join_uas_nav['UASLOCATION']
distances = []
bearings = []

for i in range(len(uas_loc)):
    split = uas_loc[i].split(' ')[0:3]
    
    if 'NM' in split[0]: #if there is no space between the distance and NM (i.e. 3NM)
        distance_nm = split[0][0:len(split[0]) - 2]
        bearing_abrev = split[1].replace('of', '')
        
    else: 
        distance_nm = split[0]
        bearing_abrev = split[2].replace('of', '')
    
    distances.append(float(distance_nm))
    bearings.append(bearing_abrev)
    

# Create DataFrame to store UAS Location Information
new_df = pd.DataFrame(join_uas_nav['REMARKS'])
new_df['UASLOCATION'] = join_uas_nav['UASLOCATION']
new_df['IDENT'] = join_uas_nav['IDENT']
new_df['Distance'] = distances
new_df['Bearing'] = bearings
new_df['NAME_TXT'] = join_uas_nav['NAME_TXT']

new_df

,REMARKS,UASLOCATION,IDENT,Distance,Bearing,NAME_TXT
0,"Reported observing a uas 1,000 to 2,000 feet b...",18 NM SE of SFO,SFO,18.0,SE,SAN FRANCISCO
1,Reported observing a red and black Quad-Copter...,15 NM NE of LAX,LAX,15.0,NE,LOS ANGELES
2,Pilot reported a dark color quadcopter uas ope...,65 NM N of TWF,TWF,65.0,N,TWIN FALLS
3,PIC observed a uas between .5-1 NM off their r...,3 NM ESE of SJC,SJC,3.0,ESE,SAN JOSE
4,PIC reported a black uas on their left side wh...,17 NM NNE of SJC,SJC,17.0,NNE,SAN JOSE
5,USSS notified NCRCC a uas had been detected at...,2.5 NM NW of BAL,BAL,2.5,NW,BALTIMORE

In [38]:
# Convert distances to KM and bearings to degrees
dist_kilo = []

for i in range(len(new_df)):
    distanceKilo = new_df['Distance'][i] * 1.852 # converting NM to kilometers
    dist_kilo.append(distanceKilo)

bearDegree = pd.DataFrame(new_df['Bearing'])
bearDegree = bearDegree.replace({'Bearing': bearing_deg})

new_df['Distance_Kilometers'] = dist_kilo
new_df['Bearing_Degrees'] = bearDegree
new_df['NAVAID_Latitude'] = join_uas_nav['LATITUDE']
new_df['NAVAID_Longitude'] = join_uas_nav['LONGITUDE']
new_df['NAME_TXT'] = join_uas_nav['NAME_TXT']
new_df

,REMARKS,UASLOCATION,IDENT,Distance,Bearing,NAME_TXT,Distance_Kilometers,Bearing_Degrees,NAVAID_Latitude,NAVAID_Longitude
0,"Reported observing a uas 1,000 to 2,000 feet b...",18 NM SE of SFO,SFO,18.0,SE,SAN FRANCISCO,33.336,135,37.619490,-122.373907
1,Reported observing a red and black Quad-Copter...,15 NM NE of LAX,LAX,15.0,NE,LOS ANGELES,27.780,45,33.933149,-118.432019
2,Pilot reported a dark color quadcopter uas ope...,65 NM N of TWF,TWF,65.0,N,TWIN FALLS,120.380,0,42.479863,-114.489466
3,PIC observed a uas between .5-1 NM off their r...,3 NM ESE of SJC,SJC,3.0,ESE,SAN JOSE,5.556,113,37.374716,-121.944680
4,PIC reported a black uas on their left side wh...,17 NM NNE of SJC,SJC,17.0,NNE,SAN JOSE,31.484,23,37.374716,-121.944680
5,USSS notified NCRCC a uas had been detected at...,2.5 NM NW of BAL,BAL,2.5,NW,BALTIMORE,4.630,315,39.171071,-76.661258

In [39]:
# Calculate UAS lat/long
uas_lat = []
uas_long = []


for i in range(len(new_df)):
    lat_nav = pd.to_numeric(new_df['NAVAID_Latitude'][i])
    long_nav = pd.to_numeric(new_df['NAVAID_Longitude'][i])
    b = pd.to_numeric(new_df['Bearing_Degrees'][i])
    d = pd.to_numeric(new_df['Distance_Kilometers'][i])
    
    origin = geopy.Point(lat_nav, long_nav)
    destination = geodesic(kilometers=d).destination(origin,b)
    
    lat2, lon2, = destination.latitude, destination.longitude
    
    uas_lat.append(lat2)
    uas_long.append(lon2)
    
# Append UAS Lat/Long information to DataFrame
new_df['UAS_Latitude'] = uas_lat
new_df['UAS_Longitude'] = uas_long


new_df

,REMARKS,UASLOCATION,IDENT,Distance,Bearing,NAME_TXT,Distance_Kilometers,Bearing_Degrees,NAVAID_Latitude,NAVAID_Longitude,UAS_Latitude,UAS_Longitude
0,"Reported observing a uas 1,000 to 2,000 feet b...",18 NM SE of SFO,SFO,18.0,SE,SAN FRANCISCO,33.336,135,37.619490,-122.373907,37.406803,-122.107661
1,Reported observing a red and black Quad-Copter...,15 NM NE of LAX,LAX,15.0,NE,LOS ANGELES,27.780,45,33.933149,-118.432019,34.110056,-118.219118
2,Pilot reported a dark color quadcopter uas ope...,65 NM N of TWF,TWF,65.0,N,TWIN FALLS,120.380,0,42.479863,-114.489466,43.563458,-114.489466
3,PIC observed a uas between .5-1 NM off their r...,3 NM ESE of SJC,SJC,3.0,ESE,SAN JOSE,5.556,113,37.374716,-121.944680,37.355142,-121.886954
4,PIC reported a black uas on their left side wh...,17 NM NNE of SJC,SJC,17.0,NNE,SAN JOSE,31.484,23,37.374716,-121.944680,37.635756,-121.805307
5,USSS notified NCRCC a uas had been detected at...,2.5 NM NW of BAL,BAL,2.5,NW,BALTIMORE,4.630,315,39.171071,-76.661258,39.200555,-76.699159

In [40]:
# Export records to csv file
new_df = new_df.drop(['Distance','Bearing','Distance_Kilometers','Bearing_Degrees'], 1)
new_df = new_df.rename({'NAVAID_Longitude': 'Origin_Longitude', 'NAVAID_Latitude': 'Origin_Latitude', 'NAME_TXT': 'NAME'}, axis=1)
new_df = pd.merge(new_df, nonstd, on='REMARKS', how='left')
new_df.to_csv('COMPLETED-Non-std-6NNAVAID.csv', index = False)

In [ ]:
################################################################################################################

In [41]:
# Check the remaining 2 records if they reference airports
uas_air_loc3 = join_uas_nav1[join_uas_nav1['LONGITUDE'].isnull()]
uas_air_loc3

,IDENT,LONGITUDE,LATITUDE,NAME_TXT,REMARKS,UASLOCATION
1,LNC,NaN,NaN,NaN,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC
2,CDC,NaN,NaN,NaN,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC

In [42]:
# Drop unnecessary columns
uas_air_loc3 = uas_air_loc3.drop(['NAME_TXT', 'LATITUDE', 'LONGITUDE'], 1)
uas_air_loc3

  IDENT                                            REMARKS       UASLOCATION
1   LNC  Reported a uas while heading NNE bound at 3,50...    5 NM NE of LNC
2   CDC  PIC reported a white, black, and red quad-copt...  24 NM SSW of CDC

In [43]:
uas_air_loc3.to_csv('Non-std-2.csv', index = False)

uas_air_loc3 = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/Non-std-2.csv')

In [44]:
# Merge records with airports dataset
uas_air_loc3= pd.merge(uas_air_loc3, airports, on='IDENT', how='left')
uas_air_loc3

,IDENT,REMARKS,UASLOCATION,NAME,LATITUDE,LONGITUDE,ICAO_ID
0,LNC,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC,Lancaster Rgnl,32.577604,-96.717503,KLNC
1,CDC,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC,Cedar City Rgnl,37.700970,-113.098851,KCDC

In [45]:
# Separate distances and bearings into two columns
uas_loc = uas_air_loc3['UASLOCATION']
distances = []
bearings = []

for i in range(len(uas_loc)):
    split = uas_loc[i].split(' ')[0:3]
    
    if 'NM' in split[0]: #if there is no space between the distance and NM (i.e. 3NM)
        distance_nm = split[0][0:len(split[0]) - 2]
        bearing_abrev = split[1].replace('of', '')
        
    else: 
        distance_nm = split[0]
        bearing_abrev = split[2].replace('of', '')
    
    distances.append(distance_nm[0:])
    bearings.append(bearing_abrev)

# Create DataFrame to store UAS Location Information
new_df = pd.DataFrame(uas_air_loc3['REMARKS'])
new_df['UAS_LOC'] = uas_air_loc3['UASLOCATION']
new_df['IDENT'] = uas_air_loc3['IDENT']
new_df['Distance'] = distances
new_df['Bearing'] = bearings

new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing
0,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC,LNC,5,NE
1,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC,CDC,24,SSW

In [46]:
# Convert distances from NM to KM and bearings to degrees
new_df['Distance'] = pd.to_numeric(new_df['Distance'],errors = 'coerce')
dist_kilo = []

for i in range(len(new_df)):
    distanceKilo = new_df['Distance'][i] * 1.852 # converting NM to kilometers
    dist_kilo.append(distanceKilo)

bearDegree = pd.DataFrame(new_df['Bearing'])
bearDegree = bearDegree.replace({'Bearing': bearing_deg})

new_df['Distance_Kilometers'] = dist_kilo
new_df['Bearing_Degrees'] = bearDegree
new_df['Airport_Latitude'] = uas_air_loc3['LATITUDE']
new_df['Airport_Longitude'] = uas_air_loc3['LONGITUDE']
new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,Airport_Latitude,Airport_Longitude
0,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC,LNC,5,NE,9.260,45,32.577604,-96.717503
1,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC,CDC,24,SSW,44.448,203,37.700970,-113.098851

In [47]:
# Merge, drop and rename columns
new_df2 = pd.merge(new_df, airports, on='IDENT', how='left')
new_df2 = new_df2.drop(['Airport_Latitude', 'Airport_Longitude'], 1)
new_df2 = new_df2.rename({'LONGITUDE': 'Airport_Longitude', 'LATITUDE': 'Airport_Latitude'}, axis=1)
new_df2

,REMARKS,UAS_LOC,IDENT,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID
0,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC,LNC,5,NE,9.260,45,Lancaster Rgnl,32.577604,-96.717503,KLNC
1,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC,CDC,24,SSW,44.448,203,Cedar City Rgnl,37.700970,-113.098851,KCDC

In [48]:
# Calculate UAS lat/long
uas_lat = []
uas_long = []

for i in range(len(new_df)):
    lat_airport = pd.to_numeric(new_df2['Airport_Latitude'][i])
    long_airport = pd.to_numeric(new_df2['Airport_Longitude'][i])
    b = pd.to_numeric(new_df['Bearing_Degrees'][i])
    d = pd.to_numeric(new_df['Distance_Kilometers'][i])
    
    origin = geopy.Point(lat_airport, long_airport)
    destination = geodesic(kilometers=d).destination(origin,b)
    
    lat2, lon2, = destination.latitude, destination.longitude
    
    uas_lat.append(lat2)
    uas_long.append(lon2)

# Append UAS Lat/Long information to DataFrame
new_df2['UAS_Latitude'] = uas_lat
new_df2['UAS_Longitude'] = uas_long
new_df2

,REMARKS,UAS_LOC,IDENT,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID,UAS_Latitude,UAS_Longitude
0,"Reported a uas while heading NNE bound at 3,50...",5 NM NE of LNC,LNC,5,NE,9.260,45,Lancaster Rgnl,32.577604,-96.717503,KLNC,32.636629,-96.647722
1,"PIC reported a white, black, and red quad-copt...",24 NM SSW of CDC,CDC,24,SSW,44.448,203,Cedar City Rgnl,37.700970,-113.098851,KCDC,37.332165,-113.294817

In [49]:
# Export records to csv file
new_df2 = new_df2.drop(['Distance','Bearing','Distance_Kilometers','Bearing_Degrees','ICAO_ID'], 1)
new_df2 = new_df2.rename({'Airport_Longitude': 'Origin_Longitude', 'Airport_Latitude': 'Origin_Latitude'}, axis=1)
new_df2 = pd.merge(new_df2, nonstd, on='REMARKS', how='left')
new_df2.to_csv('COMPLETED-Non-std-2NAirports.csv', index = False)

In [ ]:
####################################################################################################################