## This notebook explores two different csv files with 103 and 3 Fixed Radial Distances records that were kicked back from Lex's R code. 
### The output of this notebook is:
#### 1. 96 + 3 Lat/Long calculated for FAA Airport Identifier
#### 2. 4  Lat/Long calculated for NAVAID
#### 3. 3 Records (back to Lex)

In [1]:
# Import all needed libraries
import pandas as pd
import numpy as np
import geopy
from geopy.distance import geodesic

In [2]:
# Read in the Fixed Radial csv file
nonstd = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/Non-Std-103FixedRadial.csv')
nonstd

,REMARKS,dateonly,timeonly,DATE,CALLSIGN,POD,PRIMARYCODE,SECONDARYCODES,REPORTINGFACILITY,MORID.CEDAR,...,ACALTITUDE.CEDAR,ACHEADING.CEDAR,RELATIVECLOCKPOSITION.CEDAR,UASLONG.CEDAR,UASLAT.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR,RWYLOCATION,UASLOCATION,DATASET
0,1756HELO departed CHS as VRTICL3. 1800HELOdepa...,2/15/2018,0:02,2018-02-15T00:02Z,N337H,DEN,UAS,MOR,CHS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,008 NM 130 of CHS,FIXED RADIAL
1,2020-uas-156987 uas is active 0900-1100 at DCA...,9/9/2020,13:01,2020-09-09T13:01Z,NaN,NCRCC,UAS,NaN,TSOC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,012 NM 358 of DCA,FIXED RADIAL
2,"2020-uas7-156914, DCA061003.19, 8-10am. DCA no...",9/5/2020,12:00,2020-09-05T12:00Z,NaN,NCRCC,UAS,NaN,NCRCC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,003 NM 061 of DCA,FIXED RADIAL
3,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",6/23/2020,21:25,2020-06-23T21:25Z,NaN,DEN,UAS,TOI-UAS-TFR,ZOA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,033 NM 072 of LIN,FIXED RADIAL
4,2205 EDT / 0205 UTC 7/5/2021\r\nHORNET notific...,7/5/2021,0:18,2021-07-05T00:18Z,NaN,JATOC,UAS,NaN,DEN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,005 NM 255 of LGA,FIXED RADIAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,"uas: Pilot reported a red uas at altitude 5,50...",3/4/2018,20:46,2018-03-04T20:46Z,UAL1067,NCRCC,TOI-NCR SFRA,"PAGED, TOI, UAS",PCT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,028 NM 180 of DCA,FIXED RADIAL
99,"uas7, DCA213004.8, 1505-1705z.",4/17/2019,20:05,2019-04-17T20:05Z,NaN,NCRCC,UAS,NaN,NCRCC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004 NM 213 of DCA,FIXED RADIAL
100,USFS reports on 9/16 at 1830 uas violated Augu...,9/17/2020,19:53,2020-09-17T19:53Z,NaN,DEN,UAS,"NOTIFICATION-LATE, TOI-UAS-TFR",HQ DEN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,036 NM 193 of RBL,FIXED RADIAL
101,USSS requested BLKJK1 to investigate P56A for ...,2/7/2019,1:05,2019-02-07T01:05Z,NaN,NCRCC,UAS,PAGED,USSS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,002 NM 020 of DCA,FIXED RADIAL
102,Washington Navy Yard system alerted on a uas 1...,4/10/2021,1:08,2021-04-10T01:08Z,NaN,DEN,UAS,NaN,HQ DEN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202 NM 901 of BHB,FIXED RADIAL

In [3]:
# Extract the IDENT from the UAS location column
uas_loc = nonstd['UASLOCATION'].tolist()
uas_airport = []

for i in range(len(uas_loc)):
    airport = uas_loc[i].split(' ')[-1]
    
    if len(airport) <= 4:
        uas_airport.append(airport)
    else:
        trim_air = airport[-3:]
        uas_airport.append(trim_air)
# Create a new dataframe that contains all IDENTs
uas_airport_df = pd.DataFrame()
uas_airport_df['IDENT'] = uas_airport
uas_airport_df

    IDENT
0     CHS
1     DCA
2     DCA
3     LIN
4     LGA
..    ...
98    DCA
99    DCA
100   RBL
101   DCA
102   BHB

[103 rows x 1 columns]

In [4]:
# Import the cleaned airports dataset
airports = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/airports_cleaned.csv')

In [5]:
# Merge and link the extracted IDENTs with the airports dataset to get airports' latitude and longitude
uas_air_loc= pd.merge(uas_airport_df, airports, on='IDENT', how='left')
uas_air_loc

    IDENT                          NAME   LATITUDE   LONGITUDE ICAO_ID
0     CHS           Charleston AFB/Intl  32.898639  -80.040528    KCHS
1     DCA  Ronald Reagan Washington Ntl  38.851444  -77.037722    KDCA
2     DCA  Ronald Reagan Washington Ntl  38.851444  -77.037722    KDCA
3     LIN                           NaN        NaN         NaN     NaN
4     LGA                     Laguardia  40.777250  -73.872611    KLGA
..    ...                           ...        ...         ...     ...
98    DCA  Ronald Reagan Washington Ntl  38.851444  -77.037722    KDCA
99    DCA  Ronald Reagan Washington Ntl  38.851444  -77.037722    KDCA
100   RBL                Red Bluff Muni  40.150306 -122.252194    KRBL
101   DCA  Ronald Reagan Washington Ntl  38.851444  -77.037722    KDCA
102   BHB     Hancock County-Bar Harbor  44.449705  -68.361490    KBHB

[103 rows x 5 columns]

In [6]:
# Add the Remarks and UAS location columns
add_col = nonstd['REMARKS'].tolist()
uas_air_loc['REMARKS'] = add_col
add_col1 = nonstd['UASLOCATION'].tolist()
uas_air_loc['UASLOCATION'] = add_col1
uas_air_loc

,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID,REMARKS,UASLOCATION
0,CHS,Charleston AFB/Intl,32.898639,-80.040528,KCHS,1756HELO departed CHS as VRTICL3. 1800HELOdepa...,008 NM 130 of CHS
1,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,2020-uas-156987 uas is active 0900-1100 at DCA...,012 NM 358 of DCA
2,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"2020-uas7-156914, DCA061003.19, 8-10am. DCA no...",003 NM 061 of DCA
3,LIN,NaN,NaN,NaN,NaN,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN
4,LGA,Laguardia,40.777250,-73.872611,KLGA,2205 EDT / 0205 UTC 7/5/2021\r\nHORNET notific...,005 NM 255 of LGA
...,...,...,...,...,...,...,...
98,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"uas: Pilot reported a red uas at altitude 5,50...",028 NM 180 of DCA
99,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"uas7, DCA213004.8, 1505-1705z.",004 NM 213 of DCA
100,RBL,Red Bluff Muni,40.150306,-122.252194,KRBL,USFS reports on 9/16 at 1830 uas violated Augu...,036 NM 193 of RBL
101,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,USSS requested BLKJK1 to investigate P56A for ...,002 NM 020 of DCA
102,BHB,Hancock County-Bar Harbor,44.449705,-68.361490,KBHB,Washington Navy Yard system alerted on a uas 1...,202 NM 901 of BHB

In [7]:
# Find the records that did not match and save them in different csv file
uas_air_loc1 = uas_air_loc[uas_air_loc['NAME'].isnull()]
uas_air_loc1

,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID,REMARKS,UASLOCATION
3,LIN,NaN,NaN,NaN,NaN,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN
44,CFR,NaN,NaN,NaN,NaN,DCA-1: White House at condition Yellow. Report...,586 NM 100 of CFR
64,XEB,NaN,NaN,NaN,NaN,Navy Yard reports detection systems at NSF Arl...,201 NM 100 of XEB
65,XCH,NaN,NaN,NaN,NaN,"Navy Yard, DC reports a uas detection only ins...",030 NM 940 of XCH
67,BRV,NaN,NaN,NaN,NaN,Notified that Stafford County Sheriff's Office...,007 NM 005 of BRV
74,SIE,NaN,NaN,NaN,NaN,PIC reported uas off it's left wing at same al...,012 NM 330 of SIE
75,VAN,NaN,NaN,NaN,NaN,PIC reported uas off left side at FL250. No ev...,045 NM 091 of VAN

In [8]:
uas_air_loc1.to_csv('7FixedRadial.csv', index = False)

In [9]:
# Continue working with the matching records
uas_air_loc = uas_air_loc[uas_air_loc['NAME'].notnull()]
uas_air_loc

,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID,REMARKS,UASLOCATION
0,CHS,Charleston AFB/Intl,32.898639,-80.040528,KCHS,1756HELO departed CHS as VRTICL3. 1800HELOdepa...,008 NM 130 of CHS
1,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,2020-uas-156987 uas is active 0900-1100 at DCA...,012 NM 358 of DCA
2,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"2020-uas7-156914, DCA061003.19, 8-10am. DCA no...",003 NM 061 of DCA
4,LGA,Laguardia,40.777250,-73.872611,KLGA,2205 EDT / 0205 UTC 7/5/2021\r\nHORNET notific...,005 NM 255 of LGA
5,SFO,San Francisco Intl,37.618806,-122.375417,KSFO,3/29/2021 0015 INITIAL/CLOSEOUT: NTSB notified...,016 NM 340 of SFO
...,...,...,...,...,...,...,...
98,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"uas: Pilot reported a red uas at altitude 5,50...",028 NM 180 of DCA
99,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"uas7, DCA213004.8, 1505-1705z.",004 NM 213 of DCA
100,RBL,Red Bluff Muni,40.150306,-122.252194,KRBL,USFS reports on 9/16 at 1830 uas violated Augu...,036 NM 193 of RBL
101,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,USSS requested BLKJK1 to investigate P56A for ...,002 NM 020 of DCA
102,BHB,Hancock County-Bar Harbor,44.449705,-68.361490,KBHB,Washington Navy Yard system alerted on a uas 1...,202 NM 901 of BHB

In [11]:
# Save the records into separate csv file
uas_air_loc.to_csv('96FixedRadial.csv', index = False)
uas_air_loc = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/96FixedRadial.csv')
uas_air_loc

,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID,REMARKS,UASLOCATION
0,CHS,Charleston AFB/Intl,32.898639,-80.040528,KCHS,1756HELO departed CHS as VRTICL3. 1800HELOdepa...,008 NM 130 of CHS
1,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,2020-uas-156987 uas is active 0900-1100 at DCA...,012 NM 358 of DCA
2,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"2020-uas7-156914, DCA061003.19, 8-10am. DCA no...",003 NM 061 of DCA
3,LGA,Laguardia,40.777250,-73.872611,KLGA,2205 EDT / 0205 UTC 7/5/2021\r\nHORNET notific...,005 NM 255 of LGA
4,SFO,San Francisco Intl,37.618806,-122.375417,KSFO,3/29/2021 0015 INITIAL/CLOSEOUT: NTSB notified...,016 NM 340 of SFO
...,...,...,...,...,...,...,...
91,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"uas: Pilot reported a red uas at altitude 5,50...",028 NM 180 of DCA
92,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"uas7, DCA213004.8, 1505-1705z.",004 NM 213 of DCA
93,RBL,Red Bluff Muni,40.150306,-122.252194,KRBL,USFS reports on 9/16 at 1830 uas violated Augu...,036 NM 193 of RBL
94,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,USSS requested BLKJK1 to investigate P56A for ...,002 NM 020 of DCA
95,BHB,Hancock County-Bar Harbor,44.449705,-68.361490,KBHB,Washington Navy Yard system alerted on a uas 1...,202 NM 901 of BHB

In [12]:
# Separate the distance and bearing into two different columns
uas_loc = uas_air_loc['UASLOCATION']
distances = []
bearings = []

for i in range(len(uas_loc)):
    split = uas_loc[i].split(' ')[0:3]
    
    if 'NM' in split[0]: 
        distance_nm = split[0][0:len(split[0]) - 2]
        bearing_abrev = split[1].replace('of', '')
        
    else: 
        distance_nm = split[0]
        bearing_abrev = split[2].replace('of', '')
    
    distances.append(distance_nm[0:])
    bearings.append(bearing_abrev)

# Create new DataFrame for uas locations
new_df = pd.DataFrame(uas_air_loc['REMARKS'])
new_df['UAS_LOC'] = uas_air_loc['UASLOCATION']
new_df['IDENT'] = uas_air_loc['IDENT']
new_df['Distance'] = distances
new_df['Bearing_Degrees'] = bearings

new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing_Degrees
0,1756HELO departed CHS as VRTICL3. 1800HELOdepa...,008 NM 130 of CHS,CHS,008,130
1,2020-uas-156987 uas is active 0900-1100 at DCA...,012 NM 358 of DCA,DCA,012,358
2,"2020-uas7-156914, DCA061003.19, 8-10am. DCA no...",003 NM 061 of DCA,DCA,003,061
3,2205 EDT / 0205 UTC 7/5/2021\r\nHORNET notific...,005 NM 255 of LGA,LGA,005,255
4,3/29/2021 0015 INITIAL/CLOSEOUT: NTSB notified...,016 NM 340 of SFO,SFO,016,340
...,...,...,...,...,...
91,"uas: Pilot reported a red uas at altitude 5,50...",028 NM 180 of DCA,DCA,028,180
92,"uas7, DCA213004.8, 1505-1705z.",004 NM 213 of DCA,DCA,004,213
93,USFS reports on 9/16 at 1830 uas violated Augu...,036 NM 193 of RBL,RBL,036,193
94,USSS requested BLKJK1 to investigate P56A for ...,002 NM 020 of DCA,DCA,002,020
95,Washington Navy Yard system alerted on a uas 1...,202 NM 901 of BHB,BHB,202,901

In [13]:
# Convert distances from degrees to kilometers in order to be used in geopy later
new_df['Distance'] = pd.to_numeric(new_df['Distance'],errors = 'coerce')
dist_kilo = []

for i in range(len(new_df)):
    distanceKilo = new_df['Distance'][i] * 1.852 
    dist_kilo.append(distanceKilo)


new_df['Distance_Kilometers'] = dist_kilo
new_df['Airport_Latitude'] = uas_air_loc['LATITUDE']
new_df['Airport_Longitude'] = uas_air_loc['LONGITUDE']
new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing_Degrees,Distance_Kilometers,Airport_Latitude,Airport_Longitude
0,1756HELO departed CHS as VRTICL3. 1800HELOdepa...,008 NM 130 of CHS,CHS,8,130,14.816,32.898639,-80.040528
1,2020-uas-156987 uas is active 0900-1100 at DCA...,012 NM 358 of DCA,DCA,12,358,22.224,38.851444,-77.037722
2,"2020-uas7-156914, DCA061003.19, 8-10am. DCA no...",003 NM 061 of DCA,DCA,3,061,5.556,38.851444,-77.037722
3,2205 EDT / 0205 UTC 7/5/2021\r\nHORNET notific...,005 NM 255 of LGA,LGA,5,255,9.260,40.777250,-73.872611
4,3/29/2021 0015 INITIAL/CLOSEOUT: NTSB notified...,016 NM 340 of SFO,SFO,16,340,29.632,37.618806,-122.375417
...,...,...,...,...,...,...,...,...
91,"uas: Pilot reported a red uas at altitude 5,50...",028 NM 180 of DCA,DCA,28,180,51.856,38.851444,-77.037722
92,"uas7, DCA213004.8, 1505-1705z.",004 NM 213 of DCA,DCA,4,213,7.408,38.851444,-77.037722
93,USFS reports on 9/16 at 1830 uas violated Augu...,036 NM 193 of RBL,RBL,36,193,66.672,40.150306,-122.252194
94,USSS requested BLKJK1 to investigate P56A for ...,002 NM 020 of DCA,DCA,2,020,3.704,38.851444,-77.037722
95,Washington Navy Yard system alerted on a uas 1...,202 NM 901 of BHB,BHB,202,901,374.104,44.449705,-68.361490

In [14]:
# Drop unnecessary columns and rename others to keep
new_df2 = pd.merge(new_df, airports, on='IDENT', how='left')
new_df2 = new_df2.drop(['Airport_Latitude', 'Airport_Longitude'], 1)
new_df2 = new_df2.rename({'LONGITUDE': 'Airport_Longitude', 'LATITUDE': 'Airport_Latitude'}, axis=1)
new_df2

,REMARKS,UAS_LOC,IDENT,Distance,Bearing_Degrees,Distance_Kilometers,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID
0,1756HELO departed CHS as VRTICL3. 1800HELOdepa...,008 NM 130 of CHS,CHS,8,130,14.816,Charleston AFB/Intl,32.898639,-80.040528,KCHS
1,2020-uas-156987 uas is active 0900-1100 at DCA...,012 NM 358 of DCA,DCA,12,358,22.224,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA
2,"2020-uas7-156914, DCA061003.19, 8-10am. DCA no...",003 NM 061 of DCA,DCA,3,061,5.556,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA
3,2205 EDT / 0205 UTC 7/5/2021\r\nHORNET notific...,005 NM 255 of LGA,LGA,5,255,9.260,Laguardia,40.777250,-73.872611,KLGA
4,3/29/2021 0015 INITIAL/CLOSEOUT: NTSB notified...,016 NM 340 of SFO,SFO,16,340,29.632,San Francisco Intl,37.618806,-122.375417,KSFO
...,...,...,...,...,...,...,...,...,...,...
91,"uas: Pilot reported a red uas at altitude 5,50...",028 NM 180 of DCA,DCA,28,180,51.856,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA
92,"uas7, DCA213004.8, 1505-1705z.",004 NM 213 of DCA,DCA,4,213,7.408,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA
93,USFS reports on 9/16 at 1830 uas violated Augu...,036 NM 193 of RBL,RBL,36,193,66.672,Red Bluff Muni,40.150306,-122.252194,KRBL
94,USSS requested BLKJK1 to investigate P56A for ...,002 NM 020 of DCA,DCA,2,020,3.704,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA
95,Washington Navy Yard system alerted on a uas 1...,202 NM 901 of BHB,BHB,202,901,374.104,Hancock County-Bar Harbor,44.449705,-68.361490,KBHB

In [15]:
# Calculate the UAS latitude and longitude using geopy
uas_lat = []
uas_long = []

for i in range(len(new_df)):
    lat_airport = pd.to_numeric(new_df2['Airport_Latitude'][i])
    long_airport = pd.to_numeric(new_df2['Airport_Longitude'][i])
    b = pd.to_numeric(new_df['Bearing_Degrees'][i])
    d = pd.to_numeric(new_df['Distance_Kilometers'][i])
    
    origin = geopy.Point(lat_airport, long_airport)
    destination = geodesic(kilometers=d).destination(origin,b)
    
    lat2, lon2, = destination.latitude, destination.longitude
    
    uas_lat.append(lat2)
    uas_long.append(lon2)

new_df2['UAS_Latitude'] = uas_lat
new_df2['UAS_Longitude'] = uas_long
new_df2

,REMARKS,UAS_LOC,IDENT,Distance,Bearing_Degrees,Distance_Kilometers,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID,UAS_Latitude,UAS_Longitude
0,1756HELO departed CHS as VRTICL3. 1800HELOdepa...,008 NM 130 of CHS,CHS,8,130,14.816,Charleston AFB/Intl,32.898639,-80.040528,KCHS,32.812707,-79.919335
1,2020-uas-156987 uas is active 0900-1100 at DCA...,012 NM 358 of DCA,DCA,12,358,22.224,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,39.051512,-77.046682
2,"2020-uas7-156914, DCA061003.19, 8-10am. DCA no...",003 NM 061 of DCA,DCA,3,061,5.556,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,38.875695,-76.981724
3,2205 EDT / 0205 UTC 7/5/2021\r\nHORNET notific...,005 NM 255 of LGA,LGA,5,255,9.260,Laguardia,40.777250,-73.872611,KLGA,40.755619,-73.978532
4,3/29/2021 0015 INITIAL/CLOSEOUT: NTSB notified...,016 NM 340 of SFO,SFO,16,340,29.632,San Francisco Intl,37.618806,-122.375417,KSFO,37.869624,-122.490600
...,...,...,...,...,...,...,...,...,...,...,...,...
91,"uas: Pilot reported a red uas at altitude 5,50...",028 NM 180 of DCA,DCA,28,180,51.856,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,38.384308,-77.037722
92,"uas7, DCA213004.8, 1505-1705z.",004 NM 213 of DCA,DCA,4,213,7.408,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,38.795470,-77.084165
93,USFS reports on 9/16 at 1830 uas violated Augu...,036 NM 193 of RBL,RBL,36,193,66.672,Red Bluff Muni,40.150306,-122.252194,KRBL,39.565088,-122.426722
94,USSS requested BLKJK1 to investigate P56A for ...,002 NM 020 of DCA,DCA,2,020,3.704,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,38.882797,-77.023122
95,Washington Navy Yard system alerted on a uas 1...,202 NM 901 of BHB,BHB,202,901,374.104,Hancock County-Bar Harbor,44.449705,-68.361490,KBHB,41.082561,-68.439144

In [16]:
# Export the dataframe into csv file
new_df2 = new_df2.drop(['Distance','Distance_Kilometers','Bearing_Degrees','ICAO_ID'], 1)
new_df2 = new_df2.rename({'Airport_Longitude': 'Origin_Longitude', 'Airport_Latitude': 'Origin_Latitude'}, axis=1)
new_df2 = pd.merge(new_df2, nonstd, on='REMARKS', how='left')
new_df2.to_csv('COMPLETED-Non-std-96Airports(FR).csv', index = False)

In [ ]:
#################################################################################################################

In [17]:
# Read in the unmatched records to check if they are NAVAID
uas_nav_loc = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/7FixedRadial.csv')
uas_nav_loc = uas_nav_loc.drop(['NAME', 'LATITUDE', 'LONGITUDE', 'ICAO_ID'], axis=1)
uas_nav_loc

  IDENT                                            REMARKS        UASLOCATION
0   LIN  2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...  033 NM 072 of LIN
1   CFR  DCA-1: White House at condition Yellow. Report...  586 NM 100 of CFR
2   XEB  Navy Yard reports detection systems at NSF Arl...  201 NM 100 of XEB
3   XCH  Navy Yard, DC reports a uas detection only ins...  030 NM 940 of XCH
4   BRV  Notified that Stafford County Sheriff's Office...  007 NM 005 of BRV
5   SIE  PIC reported uas off it's left wing at same al...  012 NM 330 of SIE
6   VAN  PIC reported uas off left side at FL250. No ev...  045 NM 091 of VAN

In [18]:
# Read in the NAVAID dataset
navaid = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/NAVAID_Cleaned.csv')
navaid

       LONGITUDE   LATITUDE IDENT        NAME_TXT
0    -176.676024  51.871896   ADK   MOUNT MOFFETT
1    -151.744257  68.136626   AKP  ANAKTUVUK PASS
2    -149.960164  61.167868   TED       ANCHORAGE
3    -149.769204  61.255004   EDF       ELMENDORF
4    -159.597931  61.590169   ANI           ANIAK
...          ...        ...   ...             ...
1669 -156.788152  71.273426   BRW          BARROW
1670 -156.781302  71.282300   VIR     BROWERVILLE
1671  -75.164524  43.026523   UCA           UTICA
1672  -90.434470  40.937351   GBG       GALESBURG
1673 -104.804750  47.133380   GDV        GLENDIVE

[1674 rows x 4 columns]

In [19]:
# Merge the records with the NAVAID dataset
join_uas_nav = pd.merge(uas_nav_loc, navaid, on='IDENT', how='left')
join_uas_nav

,IDENT,REMARKS,UASLOCATION,LONGITUDE,LATITUDE,NAME_TXT
0,LIN,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN,-121.003871,38.074593,LINDEN
1,CFR,DCA-1: White House at condition Yellow. Report...,586 NM 100 of CFR,NaN,NaN,NaN
2,XEB,Navy Yard reports detection systems at NSF Arl...,201 NM 100 of XEB,NaN,NaN,NaN
3,XCH,"Navy Yard, DC reports a uas detection only ins...",030 NM 940 of XCH,NaN,NaN,NaN
4,BRV,Notified that Stafford County Sheriff's Office...,007 NM 005 of BRV,-77.352868,38.336265,BROOKE
5,SIE,PIC reported uas off it's left wing at same al...,012 NM 330 of SIE,-74.800345,39.095517,SEA ISLE
6,VAN,PIC reported uas off left side at FL250. No ev...,045 NM 091 of VAN,-80.448646,33.474837,VANCE

In [20]:
# Find the actual NAVAID records
nav_loc = join_uas_nav[join_uas_nav['NAME_TXT'].notnull()]
nav_loc

,IDENT,REMARKS,UASLOCATION,LONGITUDE,LATITUDE,NAME_TXT
0,LIN,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN,-121.003871,38.074593,LINDEN
4,BRV,Notified that Stafford County Sheriff's Office...,007 NM 005 of BRV,-77.352868,38.336265,BROOKE
5,SIE,PIC reported uas off it's left wing at same al...,012 NM 330 of SIE,-74.800345,39.095517,SEA ISLE
6,VAN,PIC reported uas off left side at FL250. No ev...,045 NM 091 of VAN,-80.448646,33.474837,VANCE

In [27]:
df = pd.merge(nav_loc, nonstd, on='REMARKS', how='left')
df

,IDENT,REMARKS,UASLOCATION_x,LONGITUDE,LATITUDE,NAME_TXT,dateonly,timeonly,DATE,CALLSIGN,...,ACALTITUDE.CEDAR,ACHEADING.CEDAR,RELATIVECLOCKPOSITION.CEDAR,UASLONG.CEDAR,UASLAT.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR,RWYLOCATION,UASLOCATION_y,DATASET
0,LIN,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN,-121.003871,38.074593,LINDEN,6/23/2020,21:25,2020-06-23T21:25Z,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,033 NM 072 of LIN,FIXED RADIAL
1,BRV,Notified that Stafford County Sheriff's Office...,007 NM 005 of BRV,-77.352868,38.336265,BROOKE,7/1/2019,20:32,2019-07-01T20:32Z,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,007 NM 005 of BRV,FIXED RADIAL
2,SIE,PIC reported uas off it's left wing at same al...,012 NM 330 of SIE,-74.800345,39.095517,SEA ISLE,7/7/2018,23:33,2018-07-07T23:33Z,PDT4865,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,012 NM 330 of SIE,FIXED RADIAL
3,VAN,PIC reported uas off left side at FL250. No ev...,045 NM 091 of VAN,-80.448646,33.474837,VANCE,12/6/2018,20:29,2018-12-06T20:29Z,UAL356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,045 NM 091 of VAN,FIXED RADIAL

In [28]:
# add UASLOCATION to the dataframe nav_loc
add_col1 = df['UASLOCATION_y'].tolist()
nav_loc['UASLOCATION'] = add_col1
nav_loc

,IDENT,REMARKS,UASLOCATION,LONGITUDE,LATITUDE,NAME_TXT
0,LIN,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN,-121.003871,38.074593,LINDEN
1,BRV,Notified that Stafford County Sheriff's Office...,007 NM 005 of BRV,-77.352868,38.336265,BROOKE
2,SIE,PIC reported uas off it's left wing at same al...,012 NM 330 of SIE,-74.800345,39.095517,SEA ISLE
3,VAN,PIC reported uas off left side at FL250. No ev...,045 NM 091 of VAN,-80.448646,33.474837,VANCE

In [29]:
nav_loc.to_csv('4NAVAID.csv', index = False)

nav_loc = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/4NAVAID.csv')

In [30]:
# Separate the distance and bearing into two different columns
uas_loc = nav_loc['UASLOCATION']
distances = []
bearings = []

for i in range(len(uas_loc)):
    split = uas_loc[i].split(' ')[0:3]
    
    if 'NM' in split[0]: 
        distance_nm = split[0][0:len(split[0]) - 2]
        bearing_abrev = split[1].replace('of', '')
        
    else: 
        distance_nm = split[0]
        bearing_abrev = split[2].replace('of', '')
    
    distances.append(float(distance_nm))
    bearings.append(bearing_abrev)
    

# Create new DataFrame for uas locations
new_df = pd.DataFrame(nav_loc['REMARKS'])
new_df['UASLOCATION'] = nav_loc['UASLOCATION']
new_df['IDENT'] = nav_loc['IDENT']
new_df['Distance'] = distances
new_df['Bearing_Degrees'] = bearings
new_df['NAME_TXT'] = nav_loc['NAME_TXT']

new_df

,REMARKS,UASLOCATION,IDENT,Distance,Bearing_Degrees,NAME_TXT
0,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN,LIN,33.0,072,LINDEN
1,Notified that Stafford County Sheriff's Office...,007 NM 005 of BRV,BRV,7.0,005,BROOKE
2,PIC reported uas off it's left wing at same al...,012 NM 330 of SIE,SIE,12.0,330,SEA ISLE
3,PIC reported uas off left side at FL250. No ev...,045 NM 091 of VAN,VAN,45.0,091,VANCE

In [31]:
# Find all distances in kilometers
dist_kilo = []

for i in range(len(new_df)):
    distanceKilo = new_df['Distance'][i] * 1.852 # converting NM to kilometers
    dist_kilo.append(distanceKilo)

new_df['Distance_Kilometers'] = dist_kilo
new_df['NAVAID_Latitude'] = nav_loc['LATITUDE']
new_df['NAVAID_Longitude'] = nav_loc['LONGITUDE']
new_df['NAME_TXT'] = nav_loc['NAME_TXT']
new_df

,REMARKS,UASLOCATION,IDENT,Distance,Bearing_Degrees,NAME_TXT,Distance_Kilometers,NAVAID_Latitude,NAVAID_Longitude
0,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN,LIN,33.0,072,LINDEN,61.116,38.074593,-121.003871
1,Notified that Stafford County Sheriff's Office...,007 NM 005 of BRV,BRV,7.0,005,BROOKE,12.964,38.336265,-77.352868
2,PIC reported uas off it's left wing at same al...,012 NM 330 of SIE,SIE,12.0,330,SEA ISLE,22.224,39.095517,-74.800345
3,PIC reported uas off left side at FL250. No ev...,045 NM 091 of VAN,VAN,45.0,091,VANCE,83.340,33.474837,-80.448646

In [32]:
# Calculate UAS latitude and Longitude
uas_lat = []
uas_long = []


for i in range(len(new_df)):
    lat_nav = pd.to_numeric(new_df['NAVAID_Latitude'][i])
    long_nav = pd.to_numeric(new_df['NAVAID_Longitude'][i])
    b = pd.to_numeric(new_df['Bearing_Degrees'][i])
    d = pd.to_numeric(new_df['Distance_Kilometers'][i])
    
    origin = geopy.Point(lat_nav, long_nav)
    destination = geodesic(kilometers=d).destination(origin,b)
    
    lat2, lon2, = destination.latitude, destination.longitude
    
    uas_lat.append(lat2)
    uas_long.append(lon2)
    
new_df['UAS_Latitude'] = uas_lat
new_df['UAS_Longitude'] = uas_long


new_df

,REMARKS,UASLOCATION,IDENT,Distance,Bearing_Degrees,NAME_TXT,Distance_Kilometers,NAVAID_Latitude,NAVAID_Longitude,UAS_Latitude,UAS_Longitude
0,"2056Z, FDC NOTAM 0/1240, The Quarter Fire TFR,...",033 NM 072 of LIN,LIN,33.0,072,LINDEN,61.116,38.074593,-121.003871,38.242864,-120.339902
1,Notified that Stafford County Sheriff's Office...,007 NM 005 of BRV,BRV,7.0,005,BROOKE,12.964,38.336265,-77.352868,38.452608,-77.339924
2,PIC reported uas off it's left wing at same al...,012 NM 330 of SIE,SIE,12.0,330,SEA ISLE,22.224,39.095517,-74.800345,39.268808,-74.929109
3,PIC reported uas off left side at FL250. No ev...,045 NM 091 of VAN,VAN,45.0,091,VANCE,83.340,33.474837,-80.448646,33.458482,-79.552323

In [33]:
# Export the dataframe into csv file
new_df = new_df.drop(['Distance','Distance_Kilometers','Bearing_Degrees'], 1)
new_df = new_df.rename({'NAVAID_Longitude': 'Origin_Longitude', 'NAVAID_Latitude': 'Origin_Latitude', 'NAME_TXT': 'NAME'}, axis=1)
new_df = pd.merge(new_df, nonstd, on='REMARKS', how='left')
new_df.to_csv('COMPLETED-Non-std-4NAVAID(FR).csv', index = False)

In [ ]:
#####################################################################################################################

In [29]:
# Find the final unmatched records and save them into separate dataframe for further investigation 
remaining = join_uas_nav[join_uas_nav['NAME_TXT'].isnull()]
remaining = remaining.drop(['NAME_TXT', 'LATITUDE', 'LONGITUDE'], axis=1)
remaining

  IDENT                                            REMARKS        UASLOCATION
1   CFR  DCA-1: White House at condition Yellow. Report...  586 NM 100 of CFR
2   XEB  Navy Yard reports detection systems at NSF Arl...  201 NM 100 of XEB
3   XCH  Navy Yard, DC reports a uas detection only ins...  030 NM 940 of XCH

In [30]:
# Export dataframe into csv file and send to Lex
remaining.to_csv('Non-std-3Remaining.csv', index = False)

In [ ]:
######################################################################################################################

In [34]:
# Read in CSV file that contains the other 3 Fixed radial records
nonstd1 = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/Non-std-3FixedRadial.csv')
nonstd1

,IDENT,REMARKS,OLD_UASLOCATION,dateonly,timeonly,DATE,CALLSIGN,POD,PRIMARYCODE,SECONDARYCODES,...,ACALTITUDE.CEDAR,ACHEADING.CEDAR,RELATIVECLOCKPOSITION.CEDAR,UASLONG.CEDAR,UASLAT.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR,RWYLOCATION,DATASET,NEW_UASLOCATION
0,RCC,"DCA-1: Incident occurred at 1835 (1335L), firs...",675 NM N NCRCC,2/16/2019,2:36,2019-02-16T02:36Z,NaN,NCRCC,UAS,LAW ENFORCEMENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FIXED RADIAL DISTANCE,3.5 NM 300 of DCA
1,USCP,TOI P-56A// DCA-1: USCP reported a MPD officer...,1100 NM N USCP,1/20/2021,15:25,2021-01-20T15:25Z,NaN,NCRCC,TOI-PA-P-56A,UAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FIXED RADIAL DISTANCE,3 NM 036 of DCA
2,FED,"DCA-1: DCA072008, 1 NW of FEDEX Field, MUSEL18...",1 NM NW of FED,6/21/2021,18:56,2021-06-21T18:56Z,MUSEL18,NCRCC,UAS,"SUSPICIOUS ACTIVITY, TOI-NCR FRZ",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FIXED RADIAL DISTANCE,8 NM 072 of DCA

In [35]:
# Extract IDENTs from the UAS location column
uas_loc = nonstd1['NEW_UASLOCATION'].tolist()
uas_airport = []

for i in range(len(uas_loc)):
    airport = uas_loc[i].split(' ')[-1]
    
    if len(airport) <= 4:
        uas_airport.append(airport)
    else:
        trim_air = airport[-3:]
        uas_airport.append(trim_air)
        
uas_airport_df = pd.DataFrame()
uas_airport_df['IDENT'] = uas_airport
uas_airport_df

  IDENT
0   DCA
1   DCA
2   DCA

In [36]:
# Merge the IDENTs dataframe with airports dataset to get lat/long coordinates
uas_air_loc= pd.merge(uas_airport_df, airports, on='IDENT', how='left')
uas_air_loc

  IDENT                          NAME   LATITUDE  LONGITUDE ICAO_ID
0   DCA  Ronald Reagan Washington Ntl  38.851444 -77.037722    KDCA
1   DCA  Ronald Reagan Washington Ntl  38.851444 -77.037722    KDCA
2   DCA  Ronald Reagan Washington Ntl  38.851444 -77.037722    KDCA

In [37]:
# Add REMARKS and UAS location columns to merged dataframe
add_col2 = nonstd1['REMARKS'].tolist()
uas_air_loc['REMARKS'] = add_col2
add_col3 = nonstd1['NEW_UASLOCATION'].tolist()
uas_air_loc['UASLOCATION'] = add_col3
uas_air_loc

,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID,REMARKS,UASLOCATION
0,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"DCA-1: Incident occurred at 1835 (1335L), firs...",3.5 NM 300 of DCA
1,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,TOI P-56A// DCA-1: USCP reported a MPD officer...,3 NM 036 of DCA
2,DCA,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,"DCA-1: DCA072008, 1 NW of FEDEX Field, MUSEL18...",8 NM 072 of DCA

In [38]:
# Separate distance and bearing into two different columns
uas_loc = uas_air_loc['UASLOCATION']
distances = []
bearings = []

for i in range(len(uas_loc)):
    split = uas_loc[i].split(' ')[0:3]
    
    if 'NM' in split[0]: #if there is no space between the distance and NM (i.e. 3NM)
        distance_nm = split[0][0:len(split[0]) - 2]
        bearing_abrev = split[1].replace('of', '')
        
    else: 
        distance_nm = split[0]
        bearing_abrev = split[2].replace('of', '')
    
    distances.append(distance_nm[0:])
    bearings.append(bearing_abrev)

# Create UAS location dataframe
new_df = pd.DataFrame(uas_air_loc['REMARKS'])
new_df['UAS_LOC'] = uas_air_loc['UASLOCATION']
new_df['IDENT'] = uas_air_loc['IDENT']
new_df['Distance'] = distances
new_df['Bearing_Degrees'] = bearings

new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing_Degrees
0,"DCA-1: Incident occurred at 1835 (1335L), firs...",3.5 NM 300 of DCA,DCA,3.5,300
1,TOI P-56A// DCA-1: USCP reported a MPD officer...,3 NM 036 of DCA,DCA,3,036
2,"DCA-1: DCA072008, 1 NW of FEDEX Field, MUSEL18...",8 NM 072 of DCA,DCA,8,072

In [39]:
# Converting distances to kilometers
new_df['Distance'] = pd.to_numeric(new_df['Distance'],errors = 'coerce')
dist_kilo = []

for i in range(len(new_df)):
    distanceKilo = new_df['Distance'][i] * 1.852 
    dist_kilo.append(distanceKilo)

new_df['Distance_Kilometers'] = dist_kilo
new_df['Airport_Latitude'] = uas_air_loc['LATITUDE']
new_df['Airport_Longitude'] = uas_air_loc['LONGITUDE']
new_df

,REMARKS,UAS_LOC,IDENT,Distance,Bearing_Degrees,Distance_Kilometers,Airport_Latitude,Airport_Longitude
0,"DCA-1: Incident occurred at 1835 (1335L), firs...",3.5 NM 300 of DCA,DCA,3.5,300,6.482,38.851444,-77.037722
1,TOI P-56A// DCA-1: USCP reported a MPD officer...,3 NM 036 of DCA,DCA,3.0,036,5.556,38.851444,-77.037722
2,"DCA-1: DCA072008, 1 NW of FEDEX Field, MUSEL18...",8 NM 072 of DCA,DCA,8.0,072,14.816,38.851444,-77.037722

In [40]:
# Drop unnecessary columns and rename needed ones
new_df2 = pd.merge(new_df, airports, on='IDENT', how='left')
new_df2 = new_df2.drop(['Airport_Latitude', 'Airport_Longitude'], 1)
new_df2 = new_df2.rename({'LONGITUDE': 'Airport_Longitude', 'LATITUDE': 'Airport_Latitude'}, axis=1)
new_df2

,REMARKS,UAS_LOC,IDENT,Distance,Bearing_Degrees,Distance_Kilometers,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID
0,"DCA-1: Incident occurred at 1835 (1335L), firs...",3.5 NM 300 of DCA,DCA,3.5,300,6.482,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA
1,TOI P-56A// DCA-1: USCP reported a MPD officer...,3 NM 036 of DCA,DCA,3.0,036,5.556,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA
2,"DCA-1: DCA072008, 1 NW of FEDEX Field, MUSEL18...",8 NM 072 of DCA,DCA,8.0,072,14.816,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA

In [41]:
# Calculate UAS lat/long coordinates
uas_lat = []
uas_long = []

for i in range(len(new_df)):
    lat_airport = pd.to_numeric(new_df2['Airport_Latitude'][i])
    long_airport = pd.to_numeric(new_df2['Airport_Longitude'][i])
    b = pd.to_numeric(new_df['Bearing_Degrees'][i])
    d = pd.to_numeric(new_df['Distance_Kilometers'][i])
    
    origin = geopy.Point(lat_airport, long_airport)
    destination = geodesic(kilometers=d).destination(origin,b)
    
    lat2, lon2, = destination.latitude, destination.longitude
    
    uas_lat.append(lat2)
    uas_long.append(lon2)

# Append to UAS locations dataframe
new_df2['UAS_Latitude'] = uas_lat
new_df2['UAS_Longitude'] = uas_long
new_df2

,REMARKS,UAS_LOC,IDENT,Distance,Bearing_Degrees,Distance_Kilometers,NAME,Airport_Latitude,Airport_Longitude,ICAO_ID,UAS_Latitude,UAS_Longitude
0,"DCA-1: Incident occurred at 1835 (1335L), firs...",3.5 NM 300 of DCA,DCA,3.5,300,6.482,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,38.880621,-77.102416
1,TOI P-56A// DCA-1: USCP reported a MPD officer...,3 NM 036 of DCA,DCA,3.0,036,5.556,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,38.891928,-77.000080
2,"DCA-1: DCA072008, 1 NW of FEDEX Field, MUSEL18...",8 NM 072 of DCA,DCA,8.0,072,14.816,Ronald Reagan Washington Ntl,38.851444,-77.037722,KDCA,38.892574,-76.875305

In [42]:
# Export dataframe to csv file
new_df2 = new_df2.drop(['Distance','Distance_Kilometers','Bearing_Degrees','ICAO_ID'], 1)
new_df2 = new_df2.rename({'Airport_Longitude': 'Origin_Longitude', 'Airport_Latitude': 'Origin_Latitude'}, axis=1)
new_df2 = pd.merge(new_df2, nonstd1, on='REMARKS', how='left')
new_df2.to_csv('COMPLETED-Non-std-3Airports(FR).csv', index = False)

In [ ]:
######################################################################################################################